<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
		<title>Sage.ClientSide</title>
		<sage:basehref/>
		<link rel="stylesheet" href="assets/css/clientside.css"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<hgroup class="title">
					<h1>Sage.ClientSide</h1>
					<h2>The client-side extension for Sage.</h2>
				</hgroup>
				<p class="overview">
					Provides a framework that supports building client-side functionality within Sage applications.
				</p>
				<hr/>
				<div class="column-container">
					<div class="column-33">
						<h3>Core tests</h3>
						<ul>
							<li><a href="test/core/array.html">Array function tests</a></li>
							<li><a href="test/core/date.html">Date function tests</a></li>
							<li><a href="test/core/dispatcher.html">Dispatcher tests</a></li>
							<li><a href="test/core/function.html">Function tests</a></li>
							<li><a href="test/core/number.html">Number tests</a></li>
							<li><a href="test/core/prototype.html">Prototype tests</a></li>
							<li><a href="test/core/querystring.html">QueryString tests</a></li>
							<li><a href="test/core/settings.html">Settings tests</a></li>
							<li><a href="test/core/string.html">String function tests</a></li>
							<li><a href="test/core/type.html">Type function tests</a></li>
						</ul>
					</div>
					<div class="column-33">
						<h3>Utils tests</h3>
						<ul>
							<li><a href="test/utils/cookie.html">Cookie tests</a></li>
							<li><a href="test/utils/css.html">Css tests</a></li>
							<li><a href="test/utils/dom.html">Dom tests</a></li>
							<li><a href="test/utils/dragger.html">Dragger tests</a></li>
							<li><a href="test/utils/init.html">Init tests</a></li>
							<li><a href="test/utils/log.html">Log tests</a></li>
							<li><a href="test/utils/url.html">Url tests</a></li>
							<li><a href="test/utils/xml.html">Xml tests</a></li>
						</ul>
					</div>
					<div class="column-33">
						<h3>Control tests</h3>
						<ul>
							<li><a href="test/controls/tooltip.html">Tooltip control tests</a></li>
							<li><a href="test/controls/scroller.html">Scroller control tests</a></li>
							<li><a href="test/controls/slider.html">Slider control tests</a></li>
							<li><a href="test/controls/thumbstrip.html">Thumbstrip control tests</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
