<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
		<title>Sage.ClientSide</title>
		<sage:basehref/>
		<link rel="stylesheet" href="assets/css/clientside.css"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<hgroup class="title">
					<h1>Sage.ClientSide</h1>
					<h2>The client-side extension for Sage.</h2>
				</hgroup>
			    <p class="overview">
			        Provides client-side libraries in use by other Sage extensions.
			    </p>
			    <p>Every release generally provides the latest versions of the following client-side libraries:</p>
			    <ul>
			        <li>jQuery</li>
			        <li>jQuery.ui</li>
			        <li>atom</li>
			        <li>atom.controls</li>
			        <li>linq.js</li>
			        <li>gsap libraries</li>
			        <li>createjs libraries</li>
			        <li>backbone</li>
			        <li>undescore</li>
			        <li>modernizr</li>
			        <li>bootstrap</li>
			    </ul>
			</div>
		</div>
	</body>
</html>
