<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
		<title>Sage.ClientSide</title>
		<sage:basehref/>
		<link rel="stylesheet" href="assets/css/clientside.css"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<hgroup class="title">
					<h1>Sage.ClientSide</h1>
					<h2>The client-side extension for Sage.</h2>
				</hgroup>
			    <p class="overview">
		        Provides client-side libraries in use by other Sage extensions.
			    </p>
			    <p>Every release generally provides the latest versions of the following client-side libraries:</p>
			    <ul>
			        <li><a href="https://github.com/igorfrance/atom">atom and atom.controls</a></li>
			        <li><a href="http://jquery.com/">jQuery</a></li>
			        <li><a href="http://jqueryui.com/">jQuery.ui</a></li>
			        <li><a href="http://linqjs.codeplex.com/">linq.js</a></li>
			        <li><a href="http://www.greensock.com/gsap-js/">gsap libraries</a></li>
			        <li><a href="http://www.createjs.com/">createjs libraries</a></li>
			        <li><a href="http://backbonejs.org/">backbone</a></li>
			        <li><a href="http://underscorejs.org/">underscore</a></li>
			        <li><a href="http://modernizr.com/">modernizr</a></li>
			        <li><a href="http://getbootstrap.com/">bootstrap</a></li>
			    </ul>
			</div>
		</div>
	</body>
</html>
