<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.cycle99.com/projects/sage/configuration/project">

	<project
		resourcesPregenerated="false"
		defaultLocale="en"
		mergeResources="false">

		<libraries>
			<library name="global">
				<resources>
					<resource type="script" location="head" path="kelp:///common/scripts/aeon.js"/>
					<resource type="script" location="head" path="kelp:///common/scripts/aeon/controls/Tooltip.js"/>
					<resource type="style" location="head" path="{assetpath}/css/tutorial.css"/>
					<!--<resource type="script" path="{assetpath}/lib/scripts/aeon.js"/>-->
					<resource type="document" location="data" path="{assetpath}/configuration/navigation.xml"/>
				</resources>
				<include>
					<always/>
				</include>
			</library>
		</libraries>

		<globalization>
			<locale name="en" dictionaryNames="en" resourceNames="default">
				<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="nl" dictionaryNames="nl,en" resourceNames="nl,default">
				<format culture="nl-nl" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
		</globalization>

		<links>
			<link name="sage-license" url="documentation/sage-license.html"/>
			<link name="sage-obtaining" url="documentation/sage-obtaining.html"/>
			<link name="sage-building" url="documentation/sage-building.html"/>
			<link name="sage-installing-new" url="documentation/sage-installing-new.html"/>
			<link name="sage-installing-example" url="documentation/sage-installing-example.html"/>
			<link name="sage-libraries" url="documentation/sage-libraries.html"/>
			<link name="sage-namespaces" url="documentation/sage-namespaces.html"/>
			<link name="sage-uri-schemes" url="documentation/sage-uri-schemes.html"/>
			<link name="xml-as-a-language" url="documentation/xml-as-a-language.html"/>
			<link name="linking" url="documentation/linking.html"/>
			<link name="kelp" url="documentation/kelp.html"/>
			<link name="internationalization" url="documentation/internationalization.html"/>
			<link name="internationalization-fallback" url="documentation/internationalization-fallback.html"/>
			<link name="internationalization-phrases" url="documentation/internationalization-phrases.html"/>
			<link name="internationalization-conditionals" url="documentation/internationalization-conditionals.html"/>
			<link name="internationalization-variables" url="documentation/internationalization-variables.html"/>
			<link name="xml-flow" url="documentation/xml-flow.html"/>
			<link name="xml-flow-localize" url="documentation/xml-flow-localize.html"/>
			<link name="xml-flow-copy-tree" url="documentation/xml-flow-copy-tree.html"/>
			<link name="xml-flow-expand-modules" url="documentation/xml-flow-expand-modules.html"/>
			<link name="xml-flow-xslt-transform" url="documentation/xml-flow-xslt-transform.html"/>
			<link name="resource-processing" url="documentation/resource-processing.html"/>
			<link name="resource-processing-kelp" url="documentation/resource-processing-kelp.html"/>
			<link name="resource-processing-compression" url="documentation/resource-processing-compression.html"/>
			<link name="resource-processing-imaging" url="documentation/resource-processing-imaging.html"/>
			<link name="extensibility" url="documentation/extensibility.html"/>
			<link name="extensibility-modules" url="documentation/extensibility-modules.html"/>
			<link name="extensibility-extensions" url="documentation/extensibility-extensions.html"/>
			<link name="extensibility-handlers" url="documentation/extensibility-handlers.html"/>
			<link name="extensibility-xml-filters" url="documentation/extensibility-xml-filters.html"/>
			<link name="extensibility-resource-providers" url="documentation/extensibility-resource-providers.html"/>
			<link name="extensibility-url-resolvers" url="documentation/extensibility-url-resolvers.html"/>
			<link name="extensibility-xslt-extensions" url="documentation/extensibility-xslt-extensions.html"/>
			<link name="configuration" url="documentation/configuration.html"/>
			<link name="configuration-project" url="documentation/configuration-project.html"/>
			<link name="configuration-handlers" url="documentation/configuration-handlers.html"/>
			<link name="configuration-rewriters" url="documentation/configuration-rewriters.html"/>
			<link name="configuration-compression" url="documentation/configuration-compression.html"/>
			<link name="configuration-category" url="documentation/configuration-category.html"/>
		</links>

		<modules>
			<module name="BreadCrumb">
				<resources>
					<resource type="script" path="breadcrumb.js" location="body"/>
					<resource type="style" path="breadcrumb.css" location="head"/>
				</resources>
				<stylesheets>
					<stylesheet path="breadcrumb.xsl"/>
				</stylesheets>
			</module>
			<module name="Navigation">
				<resources>
					<resource type="script" path="navigation.js" location="body"/>
					<resource type="style" path="navigation.css" location="head"/>
				</resources>
				<stylesheets>
					<stylesheet path="navigation.xsl"/>
				</stylesheets>
			</module>
		</modules>

	</project>

</configuration>
