<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.cycle99.com/projects/sage/configuration/project">

	<project
		resourcesPregenerated="false"
		defaultLocale="en"
		mergeResources="false">

		<libraries>
			<library name="aeon" type="script" global="true" path="kelp://assets/scripts/lib/aeon.js"/>
			<!-- <library name="aeon" type="script" global="true" path="kelp:///common/scripts/aeon.js"/> -->
			<library name="global.style" type="style" global="true" path="{assetpath}/css/tutorial.css"/>
		</libraries>

		<globalization>
			<locale name="en" dictionaryNames="en" resourceNames="default">
				<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="nl" dictionaryNames="nl,en" resourceNames="nl,default">
				<format culture="nl-nl" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
		</globalization>

	</project>

</configuration>
