.pageindex,
.pageindex *
	{ }

.pageindex .level2
	{ padding-left: 16px; }
.pageindex .level3
	{ padding-left: 32px; }
.pageindex .level4
	{ padding-left: 48px; }
.pageindex .level5
	{ padding-left: 64px; }
.pageindex .level6
	{ padding-left: 80px; }
