body
	{ background-color: white; font-family: Century Gothic, Verdana, Helvetica, Arial, Sans-Serif; }

body > h1
	{ margin: 0; padding: 10px 0 20px 0; }
body > h2
	{ margin: 0; padding: 6px 0 15px 0; }

ul.navigation
	{ }
ul.navigation.home
	{ }
	
	