aspnet_client/
bin/
obj/
tmp/
log/
*.user
*.suo
*.resharper
*.Resharper
Sage.Local.sln
_target

/releases
/sage.local.build
/src/PrecompiledWeb
/src/Examples/Documentation/extensions

/src/Sage.Local.sln.DotSettings
/src/Examples/Documentation/assets/css/dev
/src/Examples/Documentation/assets/views/dev
/src/Examples/Documentation/assets/modules/dev
*.favdoc
