aspnet_client/
bin/
obj/
tmp/
log/
*.user
*.suo
*.resharper
*.Resharper
Sage.Local.sln
_target

/releases
/sage.local.build
/src/PrecompiledWeb
/src/Examples/Documentation/extensions

/src/Sage.Local.sln.DotSettings
/src/Examples/Documentation/assets/lib/modules/xmltree
/src/Examples/Documentation/assets/lib/modules/developertoolbar
/src/Examples/Documentation/assets/lib/modules/logviewer
/src/Examples/Documentation/assets/lib/modules/syntaxhighlighter
/src/Examples/Documentation/assets/lib/modules/viewinspector