aspnet_client/
bin/
obj/
tmp/
log/
*.user
*.suo
*.resharper
*.Resharper
Sage.Local.sln
_target

/Extensions/Sage.DevTools/assets/extensions
/releases
/sage.local.build
/Examples/Documentation/assets/extensions

/src/Sage.Local.sln.DotSettings
*.favdoc

*.tf1
*.tfb
/Sage.Local.sln.DotSettings
/Sage.Local.sln.GhostDoc.xml
