<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="resourceHandling" type="Kelp.ResourceHandling.ConfigurationHandler,Kelp"/>
	</configSections>

	<appSettings>
		<add key="site-path" value="Resources/TestSite"/>
	</appSettings>
	
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

	<resourceHandling tempDir="~/tmp/cache">
		<script Enabled="true" IndentSize2="2" CollapseToLiteral2="false" CombineDuplicateLiterals2="false" EvalLiteralExpressions2="false" IgnoreConditionalCompilation2="true" ManualRenamesProperties2="false" MinifyCode2="true" PreserveFunctionNames2="true" RemoveFunctionExpressionNames2="false" RemoveUnneededCode2="false" StripDebugStatements2="false" InlineSafeStrings2="true" EvalTreatment2="Ignore" LocalRenaming2="KeepAll" OutputMode="SingleLine"/>
		<css Enabled="false" IndentSpaces="2" ExpandOutput="true" MinifyExpressions="false" TermSemicolons="true" ColorNames="Hex" CommentMode="Hacks"/>
	</resourceHandling>

</configuration>
