.xmltree
	{ border: 1px solid transparent; position: relative; }
.xmlroot
	{ overflow: auto; margin-top: -18px;  }
.xmltree,
.xmltree pre
	{ font-size: 10pt; font-family: Consolas, "Courier New", Courier, Monaco, "Lucida Console", monospace; }
.xmlroot *
	{ text-align: left; }
.xmlroot
	{ white-space: nowrap; }
.xmltree.with:hover
	{ background: #fff; border: 1px solid #e7e7f1; border-radius: 3px 0 3px 3px; }
.xmltree.with:hover .toolbar
	{ display: block; }

/**
 * Toolbar
 */
.xmltree .toolbar
	{ position: absolute; background: #fff; top: -24px; right: -1px; border: 1px solid #e7e7f1; border-bottom-color: #fff;
	  display: none; white-space: nowrap; height: 18px; padding: 2px; border-radius: 3px 3px 0 0; }
.xmltree .toolbar a
	{ color: #8B8B8B; text-decoration: none; }
.xmltree .toolbar a:hover
	{ color: #f00; }
.xmltree .toolbar .group.commands
	{ float: right; }
.xmltree .toolbar .group.switches
	{ float: left; margin-right: 50px;}
.xmltree .toolbar .switch
	{ float: left; }
.xmltree .toolbar .switch,
.xmltree .toolbar .command
	{ display: block; width: 20px; height: 16px; background: no-repeat center;
	  cursor: pointer; border: 1px solid transparent; border-radius: 3px; margin: 1px; }
.xmltree .toolbar .switch.on
	{ border-color: #cfcfe2; background-color: #ccc; }
.xmltree .toolbar .switch:hover,
.xmltree .toolbar .command:hover
	{ background-color: #78ade9; }
.xmltree .toolbar .switch .state,
.xmltree .toolbar a span
	{ display: none; }
.xmltree .toolbar .wrap
	{ background-image: url(images/wrapping.png); }
.xmltree .toolbar .namespaces
	{ background-image: url(images/namespaces.png); }
.xmltree .toolbar .highlight
	{ background-image: url(images/highlighting.png); }
.xmltree .toolbar .toggleall
	{ background-image: url(images/collapseall.png); }



/**
 * Tree structure
 */
.xmlroot pre
	{ margin: 0px; white-space: pre-wrap; }
.xmlroot .element > .children
	{ margin-left: 20px; /* width: 100%; */ }
.xmlroot .element.ce > .children
	{ margin-left: 10px; }
.xmlroot .element > .children > .close
	{ clear: left; margin-left: -10px; }

.xmlroot .element > .children.inline
	{ display: inline; margin-left: 0; }
.xmlroot .element > .children.inline > .close
	{ display: inline; clear: none; margin-left: 0; }

.xmltree .element.collapsed > .children
	{ display: none; }
.xmltree .element.collapsed > .text
	{ display: none; }


/*.xmlroot .element.ce > .children > .close
	{ clear: left; margin-left: -20px; }*/
.xmlroot .attrValue
	{ font-weight: bold;  }
.xmlroot .text
	{ white-space: normal; }
.xmlroot .switch
	{ display: inline-block; cursor: pointer; width: 8px;
	  text-align: right; font-weight: bold; padding-right: 2px; }
.xmlroot .switch_space
	{ display: inline-block; width: 10px; }
.xmlroot > .element > .switch_space
	{ width: 0px; }

.xmlroot .nsattrib
	{ font-weight: normal; display: none; }
.xmlroot .nsattrib .attrName,
.xmlroot .nsattrib .markup,
.xmlroot .nsattrib .attrValue
	{ font-weight: normal; }
.xmlroot .nsattrib a,
.xmlroot .nsattrib a:visited
	{ text-decoration: underline; font-weight: normal; }

.xmlroot .comment *
	{ color: #A7A7A7; }
.xmlroot .comment .markup
	{ color: #888888; }
.xmlroot .comment .markup.open
	{ margin-right: 10px;  }
.xmlroot .comment .markup.close
	{ margin-left: 10px;  }
.xmlroot .comment.collapsible pre
	{ clear: left; margin-left: 20px;  }
.xmlroot .comment.collapsible .close
	{ clear: left;   }
.xmlroot .comment.collapsible.closed .close
	{ clear: none; margin-left: 5px;  }
.xmltree .comment.collapsed > pre
	{ display: none; }
.xmltree .comment.collapsed > .close
	{ clear: none; margin-left: 0; }
.xmltree .comment.collapsed > .close:before
	{ content: "..."; margin-right: 10px; }

/**
 * Wrapping
 */
.xmlroot.wrap .element,
.xmlroot.wrap .comment
	{	clear: left; }
.xmlroot.wrap .element span,
.xmlroot.wrap .comment span,
.xmlroot.wrap .comment pre
	{	float: left; overflow: hidden; }
.xmlroot.wrap .element
	{ overflow: hidden; }
.xmlroot.wrap .closed > .children,
.xmlroot.wrap .closed > pre,
.xmlroot.wrap .closed > .text
	{ display: none; }
.xmlroot.wrap .element > .children > .close
	{ clear: none; margin-left: 0px; }
.xmlroot.wrap .element.ce > .children > .close
	{ clear: left; margin-left: -10px; }
.xmlroot.wrap .element.ce > .children
	{ clear: left; }
.xmlroot.namespaces .nsattrib
	{ display: inline; }
.xmlroot.wrap .element .indent
	{ padding-left: 28px; }

/**
 * Default colors
 */
.xmlroot .text,
.xmlroot .attrValue
	{ color: #323232; }
.xmlroot .markup,
.xmlroot .pi,
.xmlroot .ns,
.xmlroot .nsattrib .markup,
.xmlroot .nsattrib .attrValue,
.xmlroot .nsattrib a,
.xmlroot .nsattrib a:visited
	{ color: #00f; }
.xmlroot .switch
	{ color: #F00; }
.xmlroot .nodeName,
.xmlroot .attrName
	{ color: #CC0000; }

/**
 * Highlighting colors
 */
.xmlroot.highlight .comment
	{ color: #aaa; }
.xmlroot.highlight .comment .markup
	{ color: #aaa; }
.xmlroot.highlight .text,
.xmlroot.highlight .attrValue
	{ color: #aaa; }
.xmlroot.highlight .markup,
.xmlroot.highlight .pi,
.xmlroot.highlight .ns,
.xmlroot.highlight .nsattrib .markup,
.xmlroot.highlight .nsattrib .attrValue,
.xmlroot.highlight .nsattrib a,
.xmlroot.highlight .nsattrib a:visited
	{ color: #aaa; }
.xmlroot.highlight .switch,
.xmlroot.highlight .nodeName,
.xmlroot.highlight .attrName
	{ color: #aaa; }
.xmlroot.highlight .highlighted > .switch,
.xmlroot.highlight .highlighted > .nodeName,
.xmlroot.highlight .highlighted > .attribute .attrName,
.xmlroot.highlight .highlighted > .children > .close .nodeName,
.xmlroot.highlight .highlighted > .attrName
	{ color: #CC0000 !important; }
.xmlroot.highlight .highlighted > .markup,
.xmlroot.highlight .highlighted > .children > .close .markup,
.xmlroot.highlight .highlighted > .attribute .markup,
.xmlroot.highlight .highlighted > .pi,
.xmlroot.highlight .highlighted > .ns,
.xmlroot.highlight .highlighted > .nsattrib .markup,
.xmlroot.highlight .highlighted > .nsattrib .attrValue,
.xmlroot.highlight .highlighted > .nsattrib a,
.xmlroot.highlight .highlighted > .nsattrib a:visited
	{ color: #00f; }
.xmlroot.highlight .highlighted > .text,
.xmlroot.highlight .highlighted > .attribute .attrValue,
.xmlroot.highlight .highlighted > .attrValue
	{ color: #323232; }
.xmlroot.highlight .highlighted.text
	{ color: #000; }