<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>aeon.date tests</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<div id="home_perspective">
					<hgroup class="title">
						<h1><a href="~/">Sage.ClientSide</a></h1>
					</hgroup>
					<div id="qunit"></div>
					<div id="qunit-fixture"></div>
					<script>

						var result;

						test("aeon.date", function testMakeDate()
						{
							equal(aeon.type.isDate(aeon.date()), true,
								"The result of calling aeon.date() should be a valid date");

							result = aeon.date("01-12-2012");
							equal(result.getTime(), new Date(2012, 11, 1).getTime());

							// ambivalent month/date and a slash - should consider first digit to be a month
							result = aeon.date("01/12/2012");
							equal(result.getTime(), new Date(2012, 0, 12).getTime());

							// ambivalent month/date and no slash - should consider second digit to be a month
							result = aeon.date("01-12-2012");
							equal(result.getTime(), new Date(2012, 11, 1).getTime());

							result = aeon.date("01.12 2012");
							equal(result.getTime(), new Date(2012, 11, 1).getTime());

							result = aeon.date("01.23 2012");
							equal(result.getTime(), new Date(2012, 0, 23).getTime());

							result = aeon.date("1 Mar 2012");
							equal(result.getTime(), new Date(2012, 2, 1).getTime());

							result = aeon.date("Mar 1st 2012");
							equal(result.getTime(), new Date(2012, 2, 1).getTime());

							result = aeon.date("March 29th 1973");
							equal(result.getTime(), new Date(1973, 2, 29).getTime());
						});

						test("aeon.date.format", function testDateFormat()
						{
							result = aeon.date.format(new Date(1943, 10, 29), "dd-MM-yyyy");
							equal(result, "29-11-1943");

							result = aeon.date.format(new Date(1943, 10, 29), "yyyyMMddThhmmss");
							equal(result, "19431129T000000");

							result = aeon.date.format(new Date(1943, 10, 29), "dd-MMM-yyyy hh:mm:ss");
							equal(result, "29-Nov-1943 00:00:00");

							result = aeon.date.format(new Date(1943, 10, 29, 12, 45, 31), "hh:mm:ss");
							equal(result, "12:45:31");
						});

					</script>
				</div>
			</div>
		</div>
	</body>
</html>
