/**
 * LogViewer
 */
.logviewer,
.logviewer *
	{ margin: 0; padding: 0; border: 0; font-size: 10px; line-height: 13px; font-family: Verdana; vertical-align: baseline;
	  position: static; float: none; cursor: default; background: #fff; }
.logviewer
	{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.logviewer table
	{ border-collapse: collapse; table-layout: fixed; }
.logviewer th
	{ text-align: left; cursor: default;  }
.logviewer .header
	{ position: absolute; left: 0; right: 0; top: 0; z-index: 1; }
.logviewer .header table,
.logviewer .header table th
	{ padding: 1px; }

.logviewer .content
	{ position: absolute; left: 0; right: 0; top: 17px; bottom: 0; z-index: 0; overflow: auto; }
.logviewer .content h4.empty
	{ text-align: center; margin-top: 20px; font-size: 20px;}
.logviewer .content td
	{ padding: 0px; overflow: hidden; padding: 2px; }
.logviewer .content td div
	{ overflow: hidden; white-space: pre; text-overflow: ellipsis; }

/** Default color scheme */
.logviewer .header
	{ background-color: #cecece; }
.logviewer .header table,
.logviewer .header table th
	{ background-color: #CECECE; border: 1px solid #CECECE; color: #7F7F7F; }
.logviewer .content  td
	{ border: 1px solid #eee; }
.logviewer tr.DEBUG td
	{ color: #7f7f7f; }
.logviewer tr.INFO td
	{ color: #2F8900; font-weight: bold; }
.logviewer tr.WARN td
	{ color: #d96c00; }
.logviewer tr.ERROR td
	{ color: #ff0000; font-weight: bold; }
.logviewer tr.FATAL td
	{ color: #ff0000; font-weight: bold; font-style: italic; }
