<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	autoInternationalize="true"
	defaultLocale="en">

	<dependencies>
		<extension name="Sage.ClientSide"/>
		<extension name="Sage.DevTools"/>
	</dependencies>

	<libraries>
		<library name="global">
			<resources>
				<resource type="icon" location="head" path="/favicon.ico"/>
				<resource type="css" location="head" path="{assetpath}/css/documentation.css"/>
				<resource type="css" location="head" path="{assetpath}/css/documentation-ie.css" limitTo="ie"/>
				<resource type="document" location="data" path="{assetpath}/configuration/navigation.xml"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
	</libraries>

	<internationalization>
		<locale name="en" language="en" dictionaryNames="en" resourceNames="default">
			<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="nl" language="nl" dictionaryNames="nl,en" resourceNames="nl,default">
			<format culture="nl-nl" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
	</internationalization>

	<linking>
		<links>
			<link name="documentation">documentation/index.html</link>
			<link name="getting-started">documentation/getting-started.html</link>
			<link name="features">documentation/features.html</link>
			<link name="text-expressions">documentation/text-expressions.html</link>
			<link name="under-the-hood">documentation/under-the-hood.html</link>
			<link name="reference">documentation/reference.html</link>
			<link name="reference-functions">documentation/reference-functions.html</link>
			<link name="reference-functions-linking">documentation/reference-functions-linking.html</link>
			<link name="resources">documentation/resources.html</link>
			<link name="views">documentation/views.html</link>
			<link name="extensions">documentation/extensions.html</link>
			<link name="sage-license">documentation/sage-license.html</link>
			<link name="sage-obtaining">documentation/sage-obtaining.html</link>
			<link name="sage-building">documentation/sage-building.html</link>
			<link name="sage-installing-new">documentation/sage-installing-new.html</link>
			<link name="sage-installing-example">documentation/sage-installing-example.html</link>
			<link name="sage-libraries">documentation/sage-libraries.html</link>
			<link name="sage-namespaces">documentation/sage-namespaces.html</link>
			<link name="sage-namespaces-sage">documentation/sage-namespaces-sage.html</link>
			<link name="sage-namespaces-sage-input-document">documentation/sage-namespaces-sage-input-document.html</link>
			<link name="sage-namespaces-xinclude">documentation/sage-namespaces-xinclude.html</link>
			<link name="sage-namespaces-internationalization">documentation/sage-namespaces-internationalization.html</link>
			<link name="sage-namespaces-contextualization">documentation/sage-namespaces-contextualization.html</link>
			<link name="sage-namespaces-modules">documentation/sage-namespaces-modules.html</link>
			<link name="sage-namespaces-logic">documentation/sage-namespaces-logic.html</link>
			<link name="sage-uri-schemes">documentation/sage-uri-schemes.html</link>
			<link name="xml-as-a-language">documentation/xml-as-a-language.html</link>
			<link name="xslt-templates">documentation/xslt-templates.html</link>
			<link name="sage-modules">documentation/sage-modules.html</link>
			<link name="sage-modules-example1">documentation/sage-modules-example1.html</link>
			<link name="sage-modules-example2">documentation/sage-modules-example2.html</link>
			<link name="xslt-extensions-io">documentation/xslt-extensions-io.html</link>
			<link name="xslt-extensions-basic">documentation/xslt-extensions-basic.html</link>
			<link name="xslt-extensions-set">documentation/xslt-extensions-set.html</link>
			<link name="xslt-extensions-string">documentation/xslt-extensions-string.html</link>
			<link name="linking">documentation/linking.html</link>
			<link name="kelp">documentation/kelp.html</link>
			<link name="internationalization">documentation/internationalization.html</link>
			<link name="internationalization-fallback">documentation/internationalization-fallback.html</link>
			<link name="internationalization-phrases">documentation/internationalization-phrases.html</link>
			<link name="internationalization-conditionals">documentation/internationalization-conditionals.html</link>
			<link name="internationalization-variables">documentation/internationalization-variables.html</link>
			<link name="xml-flow">documentation/xml-flow.html</link>
			<link name="xml-flow-internationalize">documentation/xml-flow-internationalize.html</link>
			<link name="xml-flow-copy-tree">documentation/xml-flow-copy-tree.html</link>
			<link name="xml-flow-expand-modules">documentation/xml-flow-expand-modules.html</link>
			<link name="xml-flow-input-document">documentation/xml-flow-input-document.html</link>
			<link name="xml-flow-xslt-transform">documentation/xml-flow-xslt-transform.html</link>
			<link name="resource-libraries">documentation/resource-libraries.html</link>
			<link name="resource-processing-kelp">documentation/resource-processing-kelp.html</link>
			<link name="resource-processing-compression">documentation/resource-processing-compression.html</link>
			<link name="resource-processing-imaging">documentation/resource-processing-imaging.html</link>
			<link name="imaging-resample">documentation/imaging-resample.html</link>
			<link name="imaging-crop">documentation/imaging-crop.html</link>
			<link name="imaging-brightness">documentation/imaging-brightness.html</link>
			<link name="imaging-contrast">documentation/imaging-contrast.html</link>
			<link name="imaging-gamma">documentation/imaging-gamma.html</link>
			<link name="imaging-grayscale">documentation/imaging-grayscale.html</link>
			<link name="imaging-sepia">documentation/imaging-sepia.html</link>
			<link name="imaging-hsl">documentation/imaging-hsl.html</link>
			<link name="imaging-rgb">documentation/imaging-rgb.html</link>
			<link name="imaging-mirror-horizontally">documentation/imaging-mirror-horizontally.html</link>
			<link name="imaging-mirror-vertically">documentation/imaging-mirror-vertically.html</link>
			<link name="imaging-sharpen">documentation/imaging-sharpen.html</link>

			<link name="extensibility">documentation/extensibility.html</link>
			<link name="extensibility-extensions">documentation/extensibility-extensions.html</link>
			<link name="extensibility-extension-points">documentation/extensibility-extension-points.html</link>
			<link name="extensibility-node-handlers">documentation/extensibility-node-handlers.html</link>
			<link name="extensibility-text-variables">documentation/extensibility-text-variables.html</link>
			<link name="extensibility-text-functions">documentation/extensibility-text-functions.html</link>
			<link name="extensibility-xml-filters">documentation/extensibility-xml-filters.html</link>
			<link name="extensibility-xml-providers">documentation/extensibility-xml-providers.html</link>
			<link name="extensibility-url-resolvers">documentation/extensibility-url-resolvers.html</link>
			<link name="extensibility-xslt-extensions">documentation/extensibility-xslt-extensions.html</link>
			<link name="configuration">documentation/configuration.html</link>
			<link name="configuration-project">documentation/configuration-project.html</link>
			<link name="configuration-project-paths">documentation/configuration-project-paths.html</link>
			<link name="configuration-project-libraries">documentation/configuration-project-libraries.html</link>
			<link name="configuration-project-modules">documentation/configuration-project-modules.html</link>
			<link name="configuration-project-linking">documentation/configuration-project-linking.html</link>
			<link name="configuration-project-routing">documentation/configuration-project-routing.html</link>
			<link name="configuration-project-internationalization">documentation/configuration-project-internationalization.html</link>
			<link name="configuration-project-categories">documentation/configuration-project-categories.html</link>
			<link name="configuration-project-environment">documentation/configuration-project-environment.html</link>
			<link name="configuration-project-metaviews">documentation/configuration-project-metaviews.html</link>
			<link name="configuration-project-extension">documentation/configuration-project-extension.html</link>
			<link name="configuration-project-custom">documentation/configuration-project-custom.html</link>
			<link name="configuration-project-variables">documentation/configuration-project-variables.html</link>
			<link name="configuration-web">documentation/configuration-web.html</link>
			<link name="configuration-category">documentation/configuration-category.html</link>
			<link name="extension-devtools">documentation/extension-devtools.html</link>
		</links>
	</linking>

	<modules>
		<module name="BreadCrumb" category="documentation">
			<stylesheets>
				<stylesheet path="breadcrumb.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" path="breadcrumb.js" location="body"/>
				<resource type="css" path="breadcrumb.css" location="head"/>
			</resources>
		</module>
		<module name="ExpandSection" category="documentation">
			<stylesheets>
				<stylesheet path="ExpandSection.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" path="ExpandSection.js" location="body"/>
				<resource type="css" path="ExpandSection.css" location="head"/>
			</resources>
		</module>
		<module name="Navigation" category="documentation">
			<stylesheets>
				<stylesheet path="navigation.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" path="navigation.js" location="body"/>
				<resource type="css" path="navigation.css" location="head"/>
			</resources>
		</module>
		<module name="DocumentationBoxes" category="documentation">
			<stylesheets>
				<stylesheet path="DocumentationBoxes.xsl"/>
			</stylesheets>
			<resources>
				<resource type="css" path="DocumentationBoxes.css" location="head"/>
			</resources>
		</module>
		<module name="RelatedArticles" category="documentation">
			<stylesheets>
				<stylesheet path="RelatedArticles.xsl"/>
			</stylesheets>
			<resources>
				<resource type="css" path="RelatedArticles.css" location="head"/>
			</resources>
		</module>
		<module name="Sidebar" category="documentation">
			<stylesheets>
				<stylesheet path="Sidebar.xsl"/>
			</stylesheets>
			<dependencies>
				<library ref="global"/>
				<module ref="PageIndex"/>
			</dependencies>
			<resources>
				<resource type="css" path="Sidebar.css" location="head"/>
				<resource type="javascript" path="Sidebar.js" location="head"/>
			</resources>
		</module>
		<module name="PageIndex" category="documentation">
			<stylesheets>
				<stylesheet path="PageIndex.xsl"/>
			</stylesheets>
			<dependencies>
				<library ref="global"/>
			</dependencies>
			<resources>
				<resource type="css" path="PageIndex.css" location="head"/>
				<resource type="javascript" path="PageIndex.js" location="head"/>
			</resources>
		</module>
	</modules>

	<environment>
		<addresses>
			<developers>
				<ip address="*"/>
			</developers>
		</addresses>
	</environment>

</project>

