<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>String function tests</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<div id="home_perspective">
					<hgroup class="title">
						<h1><a href="~/">Sage.ClientSide</a></h1>
					</hgroup>
					<div id="qunit"></div>
					<div id="qunit-fixture"></div>
					<script>

						var string = aeon.string;

						test("aeon.string.format", function testStringFormat()
						{
							result = string.format("Hello {0}!", "world");
							equal(result, "Hello world!");

							result = string.format("Colors are {0}, {1}, {2}.", "red", "blue", "purple");
							equal(result, "Colors are red, blue, purple.");

							result = string.format("Colors are {0}, {1}, {2}.", ["red", "blue", "purple"]);
							equal(result, "Colors are red, blue, purple.");

							result = string.format("Colors are {0}, {1}, but not {3}.", ["red", "blue", "purple", "green"]);
							equal(result, "Colors are red, blue, but not green.");

							result = string.format("{0#3-}", 2);
							equal(result, "002");

							result = string.format("Between {0#3-} and {1#3+}", 2, 1);
							equal(result, "Between 002 and 100");

							result = string.format("{0$7-}", "Test");
							equal(result, "   Test");

							result = string.format("Between {0$10-} and {1$10+}", "Failure", "Success");
							equal(result, "Between    Failure and Success   ");
						});

						test("aeon.string.trim", function testStringTrim()
						{
							var result = string.trim("  trimmed     ");
							equal(result, "trimmed");

							var result = string.trim("		\r\n  trimmed    \t\t ");
							equal(result, "trimmed");

							var result = string.trim("ZZZZZtrimmedZZ", "Z");
							equal(result, "trimmed");
						});

						test("aeon.string.padLeft", function testStringPadLeft()
						{
							var result = string.padLeft("1", 10, "0");
							equal(result, "0000000001");
						});

						test("aeon.string.padRight", function testStringPadLeft()
						{
							var result = string.padRight("1", 10, "0");
							equal(result, "1000000000");
						});

						test("aeon.string.isEmpty", function testStringIsNullOrEmpty()
						{
							var result = string.isEmpty(null);
							equal(result, true);

							var result = string.isEmpty(undefined);
							equal(result, true);

							var result = string.isEmpty(String.EMPTY);
							equal(result, true);

							var result = string.isEmpty("");
							equal(result, true);

							var result = string.isEmpty("      ");
							equal(result, true);

							var result = string.isEmpty("\t\t\t\t\r\n");
							equal(result, true);

							var result = string.isEmpty("\t\t\t1\t\r\n");
							equal(result, false);
						});

					</script>
				</div>
			</div>
		</div>
	</body>
</html>
