.xmltree
	{ overflow: hidden; }
.xmlroot
	{ margin-top: -18px;  }
.xmltree,
.xmltree pre
	{ font: 10pt Consolas; }
.xmltree *
	{ text-align: left; }
.xmltree .xmlroot
	{ white-space: nowrap; }
.xmltree .toolbar
	{ font-size: 10px; padding: 4px 7px; overflow: hidden; background: #F5F5F5; border-radius: 4px; }
.xmltree .toolbar a
	{ color: #8B8B8B; text-decoration: none; }
.xmltree .toolbar a:hover
	{ color: #f00; }
.xmltree .toolbar .left
	{ float: left; }
.xmltree .toolbar .right
	{ float: right; }
.xmltree .toolbar .toggler
	{ margin-right: 10px; }
.xmltree pre
	{ margin: 0px; }
.xmltree .element.ce .element,
.xmltree .element.ce .comment
	{ margin-left: 15px; }
.xmltree .element.ce > .children > .text
	{ margin-left: 25px; }
.xmltree .element.ce > .children > .close
	{ clear: left; }
.xmltree .attrValue
	{ font-weight: bold;  }
.xmltree .text
	{ white-space: normal; }
.xmltree .switch
	{ display: inline-block; cursor: pointer; width: 8px;
	  text-align: right; font-weight: bold; padding-right: 2px; }
.xmltree .switch_space
	{ display: inline-block; width: 10px; }
.xmlroot > .element > .switch_space
	{ width: 0px; }

.xmltree.wrap .element,
.xmltree.wrap .comment
	{	clear: left; }
.xmltree.wrap .element span,
.xmltree.wrap .comment span,
.xmltree.wrap .comment pre
	{	float: left; overflow: hidden; }
.xmltree.wrap .element
	{ overflow: hidden; }
.xmltree.wrap .element .children
	{ overflow: hidden; }
.xmltree.wrap .closed > .children,
.xmltree.wrap .closed > pre,
.xmltree.wrap .closed > .text
	{ display: none; }


.xmltree.wrap .element.ce > .children
	{ clear: left; }
.xmltree.namespaces .nsattrib
	{ display: inline; }

.xmltree.wrap .element .indent
	{ padding-left: 28px; }

.xmltree .nsattrib
	{ font-weight: normal; display: none; }
.xmltree .nsattrib .attrName,
.xmltree .nsattrib .markup,
.xmltree .nsattrib .attrValue
	{ font-weight: normal; }
.xmltree .nsattrib a,
.xmltree .nsattrib a:visited
	{ text-decoration: underline; font-weight: normal; }

.xmltree .comment
	{ color: #A7A7A7; }
.xmltree .comment .markup
	{ color: #888888; }
.xmltree .comment .markup.open
	{ margin-right: 10px;  }
.xmltree .comment .markup.close
	{ margin-left: 10px;  }
.xmltree .comment.collapsible pre
	{ clear: left;   }
.xmltree .comment.collapsible .close
	{ clear: left;   }
.xmltree .comment.collapsible.closed .close
	{ clear: none; margin-left: 5px;  }

.xmltree .text,
.xmltree .attrValue
	{ color: #323232; }
.xmltree .markup,
.xmltree .pi,
.xmltree .ns,
.xmltree .nsattrib .markup,
.xmltree .nsattrib .attrValue,
.xmltree .nsattrib a,
.xmltree .nsattrib a:visited
	{ color: #00f; }
.xmltree .switch
	{ color: #F00; }
.xmltree .nodeName,
.xmltree .attrName
	{ color: #CC0000; }


.xmltree.highlight .comment
	{ color: #A7A7A7; }
.xmltree.highlight .comment .markup
	{ color: #888888; }
.xmltree.highlight .text,
.xmltree.highlight .attrValue
	{ color: #A7A6AA; }
.xmltree.highlight .markup,
.xmltree.highlight .pi,
.xmltree.highlight .ns,
.xmltree.highlight .nsattrib .markup,
.xmltree.highlight .nsattrib .attrValue,
.xmltree.highlight .nsattrib a,
.xmltree.highlight .nsattrib a:visited
	{ color: #A3B1FF; }
.xmltree.highlight .switch,
.xmltree.highlight .nodeName,
.xmltree.highlight .attrName
	{ color: #F4AE99; }


.xmltree.highlight .highlighted > .switch,
.xmltree.highlight .highlighted > .nodeName,
.xmltree.highlight .highlighted > .attribute .attrName,
.xmltree.highlight .highlighted > .children > .close .nodeName,
.xmltree.highlight .highlighted > .attrName
	{ color: #CC0000 !important; }
.xmltree.highlight .highlighted > .markup,
.xmltree.highlight .highlighted > .children > .close .markup,
.xmltree.highlight .highlighted > .attribute .markup,
.xmltree.highlight .highlighted > .pi,
.xmltree.highlight .highlighted > .ns,
.xmltree.highlight .highlighted > .nsattrib .markup,
.xmltree.highlight .highlighted > .nsattrib .attrValue,
.xmltree.highlight .highlighted > .nsattrib a,
.xmltree.highlight .highlighted > .nsattrib a:visited
	{ color: #00f; }
.xmltree.highlight .highlighted > .text,
.xmltree.highlight .highlighted > .attribute .attrValue,
.xmltree.highlight .highlighted > .attrValue
	{ color: #323232; }
