<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="DevTools"
	autoInternationalize="true"
	defaultLocale="en">

	<dependencies>
		<extension name="Sage.ClientMide"/>
	</dependencies>
	
	<routing>
		<route path="dev/log/{threadID}" name="Dev.Log" namespace="Sage.DevTools.Controllers" controller="Dev" action="Log"/>
		<route path="dev/inspect" name="Dev.Inspect" namespace="Sage.DevTools.Controllers" controller="Dev" action="Inspect"/>
		<route path="dev/routes" name="Dev.Routes" namespace="Sage.DevTools.Controllers" controller="RouteDebugger" action="Index"/>
	</routing>

	<internationalization>
		<locale name="en" dictionaryNames="en" resourceNames="en,default">
			<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
	</internationalization>

	<modules>

		<module name="DeveloperToolbar" category="dev" type="Sage.DevTools.Modules.DeveloperToolbarModule,Sage.DevTools" auto="body">
			<stylesheets>
				<stylesheet path="DeveloperToolbar.xsl"/>
			</stylesheets>
			<resources>
				<resource type="script" location="body" path="DeveloperToolbar.js"/>
				<resource type="style" location="head" path="DeveloperToolbar.css"/>
			</resources>
			<dependencies>
				<library ref="aeon"/>
				<library ref="aeon.tooltip"/>
			</dependencies>
		</module>

		<module name="LogViewer" category="dev" type="Sage.DevTools.Modules.LogViewerModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="LogViewer.xsl"/>
			</stylesheets>
			<resources>
				<resource type="style" location="head" path="LogViewer.css"/>
				<resource type="script" location="body" path="LogViewer.js"/>
			</resources>
			<dependencies>
				<library ref="aeon"/>
			</dependencies>
		</module>

		<module name="ViewInspector" category="dev" type="Sage.DevTools.Modules.ViewInspectorModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="ViewInspector.xsl"/>
			</stylesheets>
			<resources>
				<resource type="script" location="body" path="ViewInspector.js"/>
				<resource type="style" location="head" path="ViewInspector.css"/>
			</resources>
			<dependencies>
				<library ref="aeon"/>
			</dependencies>
		</module>

		<module name="SyntaxHighlighter" category="dev" type="Sage.DevTools.Modules.SyntaxHighlighterModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="SyntaxHighlighter.xsl"/>
			</stylesheets>
			<resources>
				<resource type="script" location="body" path="SyntaxHighlighter.js"/>
				<resource type="style" location="head" path="SyntaxHighlighter.css"/>
			</resources>
			<dependencies>
				<library ref="aeon"/>
				<library ref="aeon.tooltip"/>
			</dependencies>
		</module>

		<module name="XmlTree" category="dev" type="Sage.DevTools.Modules.XmlTreeModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="XmlTree.xsl"/>
			</stylesheets>
			<resources>
				<resource type="script" location="body" path="XmlTree.js"/>
				<resource type="style" location="head" path="XmlTree.css"/>
			</resources>
			<dependencies>
				<library ref="aeon"/>
			</dependencies>
		</module>

	</modules>

	<package>
		<dependencies>
			<include>*</include>
		</dependencies>
		<binaries>
			<include>~/bin/Sage.DevTools.dll</include>
			<include>~/bin/Sage.DevTools.pdb</include>
		</binaries>
		<assets>
			<include>~/assets/modules</include>
			<include>~/assets/scripts/lib</include>
			<include>~/assets/views/dev</include>
		</assets>
		<libraries>
			<include>*</include>
		</libraries>
		<modules>
			<include>*</include>
		</modules>
		<routes>
			<include>*</include>
		</routes>
	</package>

</project>
