<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	autoInternationalize="true"
	defaultLocale="us"
	defaultCategory="default"
	debugMode="true"
	sharedCategory="shared">

	<paths>
		<AssetPath>~/assets</AssetPath>
		<!--
		For a multi-category project, resource path might look like this:
		<AssetPath>~/assets/{category}</AssetPath>
		-->
		<View>{assetpath}/views/</View>
		<Module>{assetpath}/modules/</Module>
		<Extension>{assetpath}/extensions/</Extension>
		<Dictionary>{assetpath}/configuration/dictionary/{locale}.xml</Dictionary>
		<SiteMap>~/Sitemap.config</SiteMap>
		<DefaultStylesheet>{assetpath}/xslt/default.xslt</DefaultStylesheet>
		<CategoryConfiguration>{assetpath}/configuration/Category.config</CategoryConfiguration>
		<GlobalizedDirectory>_target/</GlobalizedDirectory>
		<GlobalizedDirectoryForNonFileResources>~/_target/</GlobalizedDirectoryForNonFileResources>
	</paths>
				
	<metaViews>
		<metaView name="xml" contentType="text/xml" type="Sage.Views.Meta.DivertView,Sage" path="sageresx://sage/resources/metaviews/xml.xsl" description="Serves the fully prepared, but not yet transformed, raw XML used for the controller view."/>
		<metaView name="xmlx" contentType="text/html" type="Sage.Views.Meta.DivertView,Sage" path="sageresx://sage/resources/metaviews/xmlx.xsl" description="Provides a pretty-printed, collapsible view of the fully prepared, but not yet transformed, raw XML used for the controller view."/>
		<!--<metaView name="xmlx" contentType="text/html" type="Sage.Views.Meta.DivertView,Sage" path="G:\cycle99\projects\git\sage\Sage\Resources\MetaViews\Xmlx.xsl" description="Provides a pretty-printed, collapsible view of the fully prepared, but not yet transformed, raw XML used for the controller view."/>-->
		<metaView name="htmlx" contentType="text/html" type="Sage.Views.Meta.RetransformView,Sage" path="sageresx://sage/resources/metaviews/xmlx.xsl" description="Provides a pretty-printed, collapsible view of the fully transformed, final HTML of the controller view."/>
		<!--<metaView name="htmlx" contentType="text/html" type="Sage.Views.Meta.RetransformView,Sage" path="G:\cycle99\projects\git\sage\Sage\Resources\MetaViews\Xmlx.xsl" description="Provides a pretty-printed, collapsible view of the fully transformed, final HTML of the controller view."/>-->
		<metaView name="json" contentType="application/json" type="Sage.Views.Meta.JsonView,Sage" description="Provides a JSON view of the fully prepared, but not yet transformed XML used for the controller view. Experimental."/>
		<metaView name="config" contentType="text/html" type="Sage.Views.Meta.ConfigView,Sage" path="G:\cycle99\projects\git\sage\Sage\Resources\MetaViews\Config.xsl" description="Provides a dynamic view of the effective configuration - current project's with extensions merged into it"/>
	</metaViews>

	<internationalization>
		<locale name="us" language="en" dictionaryNames="us,en" resourceNames="us,en,default">
			<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
	</internationalization>
		
	<environment>
		<addresses>
			<developers>
				<ip address="::1"/>
				<ip address="127.0.0.1"/>
				<ip address="10.180.0.0" to="10.180.255.255"/>
				<ip address="172.16.0.0" to="172.16.255.255"/>
				<!-- Igor -->
				<ip address="83.163.156.172"/>
			</developers>
		</addresses>
	</environment>
		
</project>
