<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.cycle99.com/projects/sage/configuration/project">

	<project
		resourcesPregenerated="false"
		defaultLocale="com"
		defaultCategory="default"
		sharedCategory="shared"
		multiCategory="true"
		mergeResources="false">

		<paths>
			<ResourcePath>~/assets/{category}</ResourcePath>
		</paths>
		
		<categories>
			<category name="default" locales="ae,ar,at,au,be,br,ca,cf,ch,cn,com,de,dk,es,fi,fr,gr,hk,hu,id,in,it,jp,kr,la,my,nl,no,nz,ph,pl,pt,ru,se,sg,th,tw,uk,us,vn,za"/>
			<category name="alternate" locales="ae,ar,at,au,be,br,ca,cf,ch,cn,com,de,dk,es,fi,fr,gr,hk,hu,id,in,it,jp,kr,la,my,nl,no,nz,ph,pl,pt,ru,se,sg,th,tw,uk,us,vn,za"/>
		</categories>

		<globalization>
			<locale name="uk" dictionaryNames="uk,en" resourceNames="uk,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="us" dictionaryNames="us,en" resourceNames="us,en,default">
				<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="com" dictionaryNames="com,en" resourceNames="com,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<!-- all other en locales -->
			<locale name="ae" dictionaryNames="ae,en" resourceNames="ae,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="au" dictionaryNames="au,en" resourceNames="au,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="be" dictionaryNames="be,en" resourceNames="be,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="ca" dictionaryNames="ca,en" resourceNames="ca,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="dk" dictionaryNames="dk,en" resourceNames="dk,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="fi" dictionaryNames="fi,en" resourceNames="fi,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="gr" dictionaryNames="gr,en" resourceNames="gr,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="id" dictionaryNames="id,en" resourceNames="id,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="in" dictionaryNames="in,en" resourceNames="in,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="my" dictionaryNames="my,en" resourceNames="my,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="nl" dictionaryNames="nl,en" resourceNames="nl,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="no" dictionaryNames="no,en" resourceNames="no,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="nz" dictionaryNames="nz,en" resourceNames="nz,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="ph" dictionaryNames="ph,en" resourceNames="ph,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="se" dictionaryNames="se,en" resourceNames="se,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="sg" dictionaryNames="sg,en" resourceNames="sg,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="th" dictionaryNames="th,en" resourceNames="th,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="vn" dictionaryNames="vn,en" resourceNames="vn,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<locale name="za" dictionaryNames="za,en" resourceNames="za,en,default">
				<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
			<!-- non-english locales -->
			<locale name="ar" dictionaryNames="ar,la,es,en" resourceNames="ar,la,es,default">
				<format culture="ar-ar" shortDate="d" longDate="D"/>
			</locale>
			<locale name="at" dictionaryNames="at,de,en" resourceNames="at,de,default">
				<format culture="de-at" shortDate="d" longDate="D"/>
			</locale>
			<locale name="br" dictionaryNames="br,en" resourceNames="br,default">
				<format culture="pt-br" shortDate="d" longDate="D"/>
			</locale>
			<locale name="cf" dictionaryNames="cf,fr,en" resourceNames="cf,fr,default">
				<format culture="fr-cf" shortDate="d" longDate="D"/>
			</locale>
			<locale name="ch" dictionaryNames="ch,de,en" resourceNames="ch,de,default">
				<format culture="de-ch" shortDate="d" longDate="D"/>
			</locale>
			<locale name="cn" dictionaryNames="cn,en" resourceNames="cn,non-latin,default">
				<format culture="zh-cn" shortDate="d" longDate="D"/>
			</locale>
			<locale name="de" dictionaryNames="de,en" resourceNames="de-de,de,default">
				<format culture="de-de" shortDate="d" longDate="D"/>
			</locale>
			<locale name="es" dictionaryNames="es,en" resourceNames="es-es,es,default">
				<format culture="es-es" shortDate="d" longDate="D"/>
			</locale>
			<locale name="fr" dictionaryNames="fr,en" resourceNames="fr-fr,fr,default">
				<format culture="fr-fr" shortDate="d" longDate="D"/>
			</locale>
			<locale name="hk" dictionaryNames="hk,en" resourceNames="hk,non-latin,default">
				<format culture="zn-hk" shortDate="d" longDate="D"/>
			</locale>
			<locale name="hu" dictionaryNames="hu,en" resourceNames="hu,non-latin,default">
				<format culture="hu-hu" shortDate="d" longDate="D"/>
			</locale>
			<locale name="it" dictionaryNames="it,en" resourceNames="it,default">
				<format culture="it-it" shortDate="d" longDate="D"/>
			</locale>
			<locale name="jp" dictionaryNames="jp,en" resourceNames="jp,non-latin,default">
				<format culture="jp-jp" shortDate="d" longDate="D"/>
			</locale>
			<locale name="kr" dictionaryNames="kr,en" resourceNames="kr,non-latin,default">
				<format culture="kr-kr" shortDate="d" longDate="D"/>
			</locale>
			<locale name="la" dictionaryNames="la,es,en" resourceNames="la,es,default">
				<format culture="es-es" shortDate="d" longDate="D"/>
			</locale>
			<locale name="pl" dictionaryNames="pl,en" resourceNames="pl,non-latin,default">
				<format culture="pl-pl" shortDate="d" longDate="D"/>
			</locale>
			<locale name="pt" dictionaryNames="pt,en" resourceNames="pt,default">
				<format culture="pt-pt" shortDate="d" longDate="D"/>
			</locale>
			<locale name="ru" dictionaryNames="ru,en" resourceNames="ru,non-latin,default">
				<format culture="ru-ru" shortDate="d" longDate="D"/>
			</locale>
			<locale name="tw" dictionaryNames="tw,en" resourceNames="tw,non-latin,default">
				<format culture="zh-tw" shortDate="d" longDate="D"/>
			</locale>
		</globalization>

	</project>

</configuration>
