body.show-phrases *.phrase
	{ position: relative; background: #fc0; color: #000; }
body.show-phrases *.phrase .info
	{ position: absolute; top: -5px; right: -5px; }

#developer-tools
	{ position: absolute; left: 0; top: 0; right: 0; z-index: 1000000; display: none; }
#developer-button
	{ position: fixed; top: 10px; right: 10px; width: 20px; height: 20px; background: url(images/devtools.png) no-repeat center #f0f0f0;
	  border: 1px solid #ccc; z-index: 1; }
#developer-button:hover
	{ background-color: #fff; }
#developer-button.open
	{ border-bottom-color: #f0f0f0; }
#developer-menu
	{ position: fixed; top: 31px; right: 10px; min-width: 150px; z-index: 0; display: none;
	  background: #f0f0f0; border: 1px solid #ccc; margin: 0; padding: 0 5px 5px 5px; }

#developer-menu li.groupStart
	{ margin-top: 5px; border-top: 1px solid #ccc; }
#developer-menu li.link
	{ padding: 5px 1px 3px 21px; height: 14px; background: #fff no-repeat 1px 3px; list-style-type: none; border-bottom: 1px solid #ccc;
	  font-size: 10px; font-family: Verdana; cursor: default; }
#developer-menu li.link:hover
	{ background-color: #c00; color: #fff; }
#developer-menu li.separator
	{ border-top: 1px solid #ccc; }

#developer-menu li.xml
	{ background-image: url(images/xml.png); }
#developer-menu li.xmlx
	{ background-image: url(images/xmlx.png); }
#developer-menu li.log
	{ background-image: url(images/log.png); }
#developer-menu li.labels
	{ background-image: url(images/labels.png); }
#developer-menu li.routes
	{ background-image: url(images/routes.png); }
#developer-menu li.dev
	{ background-image: url(images/gear.png); }
#developer-menu li.save
	{ background-image: url(images/save.png); }

#developer-frame
	{ position: fixed; left: 0; right: 0; bottom: 0; height: 250px; display: none; background: #fff; border-top: 1px solid #ccc; }
#developer-frame .head
	{ position: absolute; top: 0; left: 0; right: 0; height: 16px; background: #eee; }
#developer-frame .head h6
	{ margin: 0; font-size: 11px; font-weight: bold; color: #000; }
#developer-frame .head .close
	{ position: absolute; top: 3px; right: 3px; width: 8px; height: 8px; background: #fff; border: 1px solid #ccc; cursor: pointer; }
#developer-frame .body
	{ position: absolute; top: 16px; bottom: 0; left: 0; right: 0; }

#developer-frame iframe
	{ width: 100%; height: 100%; border: 0; }
