<!DOCTYPE html>
<html
	xmlns:xi="http://www.w3.org/2003/XInclude"
	xmlns:mod="http://www.cycle99.com/schemas/sage/modules.xsd"
	xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>DevTools test page</title>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta http-equiv="pragma" content="no-cache"/>
	</head>
	<body>

		<xi:include href="sageres://views/shared/elements.html"
		            xpointer="xmlns(x=http://www.w3.org/1999/xhtml) xpointer(//x:ul[@class]) "/>

		<mod:ViewInspector>
			<mod:config>
				<mod:path>tests/index.html</mod:path>
			</mod:config>
		</mod:ViewInspector>

	</body>
</html>
