<!DOCTYPE html>
<html
	xmlns:mod="http://www.cycle99.com/projects/sage/modules"
	xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>DevTools test page</title>
		<link type="text/css" rel="stylesheet" href="{assetpath}/css/devtools.css"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta http-equiv="pragma" content="no-cache"/>
	</head>
	<body>
		<mod:ViewInspector>
			<mod:config>
				<mod:path>tests/index.html</mod:path>
			</mod:config>
		</mod:ViewInspector>
	</body>
</html>
