.syntaxbox
	{ font-family: Consolas, Courier New, Courier; font-size: 9pt; color: #000; background: #ebebeb; }
.syntaxbox .tab
	{ width: 20px; height: 3px; display: inline-block; }
.syntaxbox .line
	{ position: relative; }
.syntaxbox .line .num
	{ background: #586575; color: #a7b1bb; width: 16px; text-align: right; display: inline-block;
	  cursor: default; user-select: none; -moz-user-select: none; -webkit-user-select: none; -o-user-select: none;
		position: absolute; left: 0; top: 0; bottom: 0; z-index: 0; }
.syntaxbox .line .content
	{ position: relative; z-index: 1; display: block; min-height: 16px; }
.syntaxbox .linecols-1 .num
	{ width: 32px; }
.syntaxbox .linecols-2 .num
	{ width: 32px; }
.syntaxbox .linecols-3 .num
	{ width: 48px; }
.syntaxbox .linecols-4 .num
	{ width: 64px; }

.syntaxbox .linecols-1 .line
	{ padding-left: 36px; }
.syntaxbox .linecols-2 .line
	{ padding-left: 36px; }
.syntaxbox .linecols-3 .line
	{ padding-left: 52px; }
.syntaxbox .linecols-4 .line
	{ padding-left: 68px; }

.syntax .comment
	{ color: #aaaaaa; }
.syntax .string
	{ color: #008080; }
.syntax .number
	{ color: #3399CC; }
.syntax .keyword
	{ color: #0000ff; }
.syntax .keyword1
	{ color: #589be4; font-weight: bold; }
.syntax .keyword2
	{ color: #990099; font-style: italic; }
.syntax .keyword3
	{ color: #0000ff; }
.syntax .keyword4
	{ color: #0000ff; }
.syntax .special
	{ color: #FF0033; }
.syntax .special2
	{ color: #FF0033; }
.syntax .special3
	{ color: #FF0033; }
