<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="Sage.DevTools"
	debugMode="true"
	>

	<dependencies>
		<extension name="Sage.ClientSide"/>
	</dependencies>

	<routing>
		<route path="dev/log/{threadID}" name="Dev.Log.Single" namespace="Sage.DevTools.Controllers" controller="Dev" action="Log"/>
		<route path="dev/inspect" name="Dev.Inspect" namespace="Sage.DevTools.Controllers" controller="Dev" action="Inspect"/>
		<route path="dev/routes" name="Dev.Routes" namespace="Sage.DevTools.Controllers" controller="RouteDebugger" action="Index"/>
	</routing>

	<libraries>
		<library name="local">
			<resources>
				<resource type="css" location="head" path="{assetpath}/css/ubuntu.css"/>
				<resource type="css" location="head" path="{assetpath}/css/clientside.css"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
	</libraries>


	<modules>

		<module name="DirectoryTree" category="dev" type="Sage.DevTools.Modules.DirectoryTreeModule,Sage.DevTools"/>

		<module name="DeveloperToolbar" category="dev" type="Sage.DevTools.Modules.DeveloperToolbarModule,Sage.DevTools" auto="body">
			<stylesheets>
				<stylesheet path="DeveloperToolbar.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" location="body" path="DeveloperToolbar.js"/>
				<resource type="css" location="head" path="DeveloperToolbar.css"/>
			</resources>
			<dependencies>
				<library ref="atom"/>
				<library ref="atom.controls"/>
			</dependencies>
		</module>

		<module name="LogViewer" category="dev" type="Sage.DevTools.Modules.LogViewerModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="LogViewer.xsl"/>
			</stylesheets>
			<resources>
				<resource type="css" location="head" path="LogViewer.css"/>
				<resource type="javascript" location="body" path="LogViewer.js"/>
			</resources>
			<dependencies>
				<library ref="atom"/>
			</dependencies>
		</module>

		<module name="ViewInspector" category="dev" type="Sage.DevTools.Modules.ViewInspectorModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="ViewInspector.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" location="body" path="ViewInspector.js"/>
				<resource type="css" location="head" path="ViewInspector.css"/>
			</resources>
			<dependencies>
				<library ref="atom"/>
			</dependencies>
		</module>

		<module name="SyntaxHighlighter" category="dev" type="Sage.DevTools.Modules.SyntaxHighlighterModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="SyntaxHighlighter.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" location="body" path="SyntaxHighlighter.js"/>
				<resource type="css" location="head" path="SyntaxHighlighter.css"/>
			</resources>
			<dependencies>
				<library ref="atom"/>
				<library ref="atom.controls"/>
			</dependencies>
		</module>

		<module name="XmlTree" category="dev" type="Sage.DevTools.Modules.XmlTreeModule,Sage.DevTools">
			<stylesheets>
				<stylesheet path="XmlTree.xsl"/>
			</stylesheets>
			<resources>
				<resource type="javascript" location="body" path="XmlTree.js"/>
				<resource type="css" location="head" path="XmlTree.css"/>
			</resources>
			<dependencies>
				<library ref="atom"/>
			</dependencies>
		</module>

	</modules>

	<package>
		<dependencies>
			<include>*</include>
		</dependencies>
		<binaries>
			<include>~/bin/Sage.DevTools.dll</include>
			<include>~/bin/Sage.DevTools.pdb</include>
		</binaries>
		<assets>
			<include>~/assets/modules</include>
			<include>~/assets/scripts/lib</include>
			<include>~/assets/views/dev</include>
		</assets>
		<modules>
			<include>*</include>
		</modules>
		<routes>
			<include>*</include>
		</routes>
	</package>

</project>
