<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	autoInternationalize="true"
	defaultLocale="com"
	defaultCategory="default"
	sharedCategory="shared">

	<paths>
		<AssetPath>~/assets/{category}</AssetPath>
	</paths>
		
	<categories>
		<category name="default" locales="ae,ar,at,au,be,br,ca,cf,ch,cn,com,de,dk,es,fi,fr,gr,hk,hu,id,in,it,jp,kr,la,my,nl,no,nz,ph,pl,pt,ru,se,sg,th,tw,uk,us,vn,za"/>
		<category name="alternate" locales="ae,ar,at,au,be,br,ca,cf,ch,cn,com,de,dk,es,fi,fr,gr,hk,hu,id,in,it,jp,kr,la,my,nl,no,nz,ph,pl,pt,ru,se,sg,th,tw,uk,us,vn,za"/>
	</categories>

	<internationalization>
		<locale name="uk" language="en" dictionaryNames="uk,en" resourceNames="uk,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="us" language="en" dictionaryNames="us,en" resourceNames="us,en,default">
			<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="com" language="en" dictionaryNames="com,en" resourceNames="com,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<!-- all other en locales -->
		<locale name="ae" language="en" dictionaryNames="ae,en" resourceNames="ae,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="au" language="en" dictionaryNames="au,en" resourceNames="au,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="be" language="en" dictionaryNames="be,en" resourceNames="be,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="ca" language="en" dictionaryNames="ca,en" resourceNames="ca,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="dk" language="en" dictionaryNames="dk,en" resourceNames="dk,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="fi" language="en" dictionaryNames="fi,en" resourceNames="fi,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="gr" language="en" dictionaryNames="gr,en" resourceNames="gr,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="id" language="en" dictionaryNames="id,en" resourceNames="id,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="in" language="en" dictionaryNames="in,en" resourceNames="in,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="my" language="en" dictionaryNames="my,en" resourceNames="my,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="nl" language="en" dictionaryNames="nl,en" resourceNames="nl,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="no" language="en" dictionaryNames="no,en" resourceNames="no,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="nz" language="en" dictionaryNames="nz,en" resourceNames="nz,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="ph" language="en" dictionaryNames="ph,en" resourceNames="ph,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="se" language="en" dictionaryNames="se,en" resourceNames="se,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="sg" language="en" dictionaryNames="sg,en" resourceNames="sg,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="th" language="en" dictionaryNames="th,en" resourceNames="th,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="vn" language="en" dictionaryNames="vn,en" resourceNames="vn,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<locale name="za" language="en" dictionaryNames="za,en" resourceNames="za,en,default">
			<format culture="en-uk" shortDate="MMMM d, yyyy" longDate="D"/>
		</locale>
		<!-- non-english locales -->
		<locale name="ar" language="es" dictionaryNames="ar,la,es,en" resourceNames="ar,la,es,default">
			<format culture="ar-ar" shortDate="d" longDate="D"/>
		</locale>
		<locale name="at" language="de" dictionaryNames="at,de,en" resourceNames="at,de,default">
			<format culture="de-at" shortDate="d" longDate="D"/>
		</locale>
		<locale name="br" language="pt" dictionaryNames="br,en" resourceNames="br,default">
			<format culture="pt-br" shortDate="d" longDate="D"/>
		</locale>
		<locale name="cf" language="fr" dictionaryNames="cf,fr,en" resourceNames="cf,fr,default">
			<format culture="fr-cf" shortDate="d" longDate="D"/>
		</locale>
		<locale name="ch" language="de" dictionaryNames="ch,de,en" resourceNames="ch,de,default">
			<format culture="de-ch" shortDate="d" longDate="D"/>
		</locale>
		<locale name="cn" language="zh" dictionaryNames="cn,en" resourceNames="cn,non-latin,default">
			<format culture="zh-cn" shortDate="d" longDate="D"/>
		</locale>
		<locale name="de" language="de" dictionaryNames="de,en" resourceNames="de-de,de,default">
			<format culture="de-de" shortDate="d" longDate="D"/>
		</locale>
		<locale name="es" language="es" dictionaryNames="es,en" resourceNames="es-es,es,default">
			<format culture="es-es" shortDate="d" longDate="D"/>
		</locale>
		<locale name="fr" language="fr" dictionaryNames="fr,en" resourceNames="fr-fr,fr,default">
			<format culture="fr-fr" shortDate="d" longDate="D"/>
		</locale>
		<locale name="hk" language="cn" dictionaryNames="hk,en" resourceNames="hk,non-latin,default">
			<format culture="zn-hk" shortDate="d" longDate="D"/>
		</locale>
		<locale name="hu" language="hu" dictionaryNames="hu,en" resourceNames="hu,non-latin,default">
			<format culture="hu-hu" shortDate="d" longDate="D"/>
		</locale>
		<locale name="it" language="it" dictionaryNames="it,en" resourceNames="it,default">
			<format culture="it-it" shortDate="d" longDate="D"/>
		</locale>
		<locale name="jp" language="jp" dictionaryNames="jp,en" resourceNames="jp,non-latin,default">
			<format culture="jp-jp" shortDate="d" longDate="D"/>
		</locale>
		<locale name="kr" language="kr" dictionaryNames="kr,en" resourceNames="kr,non-latin,default">
			<format culture="kr-kr" shortDate="d" longDate="D"/>
		</locale>
		<locale name="la" language="es" dictionaryNames="la,es,en" resourceNames="la,es,default">
			<format culture="es-es" shortDate="d" longDate="D"/>
		</locale>
		<locale name="pl" language="pl" dictionaryNames="pl,en" resourceNames="pl,non-latin,default">
			<format culture="pl-pl" shortDate="d" longDate="D"/>
		</locale>
		<locale name="pt" language="pt" dictionaryNames="pt,en" resourceNames="pt,default">
			<format culture="pt-pt" shortDate="d" longDate="D"/>
		</locale>
		<locale name="ru" language="ru" dictionaryNames="ru,en" resourceNames="ru,non-latin,default">
			<format culture="ru-ru" shortDate="d" longDate="D"/>
		</locale>
		<locale name="tw" language="zh" dictionaryNames="tw,en" resourceNames="tw,non-latin,default">
			<format culture="zh-tw" shortDate="d" longDate="D"/>
		</locale>
	</internationalization>

</project>
