<!DOCTYPE html>
<html class="dashboard"
	xmlns:sage="http://www.cycle99.com/projects/sage"
	xmlns:xi="http://www.w3.org/2003/XInclude"
	xmlns:mod="http://www.cycle99.com/projects/sage/modules"
	xmlns:logic="http://www.cycle99.com/projects/sage/logic"
	xmlns:intl="http://www.cycle99.com/projects/sage/internationalization"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<sage:basehref/>
		<title>Sage <sage:version/></title>
		<link type="text/css" rel="stylesheet" href="{assetpath}/css/tutorial.css" />
		<script type="text/javascript" src="{assetpath}/scripts/lib/jquery/shadowbox.js"></script>
		<script type="text/javascript" src="{assetpath}/scripts/dashboard.js"></script>
		<meta http-equiv="cache-control" content="no-cache"/>
	</head>
	<body>

		<div id="navigation">
			<h1>
				<span>Sage</span>
			</h1>
			<mod:Navigation/>
		</div>

		<div id="welcome">
			<div class="valign">
				<div class="vcell">
					<div class="button gradient">
						<div class="valign">
							<div class="vcell">
								<span>Welcome to</span>
								<h1>Sage</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="examples">
			<mod:ViewInspector/>
		</div>

	</body>
</html>
