<!DOCTYPE html>
<html class="dashboard"
	xmlns:sage="http://www.cycle99.com/projects/sage"
	xmlns:xi="http://www.w3.org/2003/XInclude"
	xmlns:mod="http://www.cycle99.com/projects/sage/modules"
	xmlns:logic="http://www.cycle99.com/projects/sage/logic"
	xmlns:intl="http://www.cycle99.com/projects/sage/internationalization"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<sage:basehref/>
		<title>Sage <sage:version/></title>
		<link type="text/css" rel="stylesheet" href="{assetpath}/css/tutorial.css" />
		<script type="text/javascript" src="{assetpath}/scripts/lib/jquery/shadowbox.js"></script>
		<script type="text/javascript" src="{assetpath}/scripts/dashboard.js"></script>
		<meta http-equiv="cache-control" content="no-cache"/>
	</head>
	<body>

		<div id="navigation">
			<h1>
				<span>Sage</span>
			</h1>
			<ul class="general">
				<li>
					<a sage:attrib="href:url(sage-license)">License</a>
				</li>
				<li>
					<a sage:attrib="href:url(sage-obtaining)">Obtaining</a>
				</li>
				<li>
					<a sage:attrib="href:url(sage-building)">Building</a>
				</li>
				<li class="separator"></li>
				<li class="expandable">
					Installing
					<ul>
						<li>
							<a sage:attrib="href:url(sage-installing-new)">New project</a>
						</li>
						<li>
							<a sage:attrib="href:url(sage-installing-example)">Example project</a>
						</li>
					</ul>
				</li>
			</ul>
			<h2>Documentation</h2>
			<ul class="documentation">
				<li class="expandable">
					<a sage:attrib="href:url(xml-as-a-language)">XML as a language</a>
					<ul>
						<li>
							<a sage:attrib="href:url(sage-namespaces)">Available namespaces</a>
						</li>
					</ul>
				</li>
				<li class="expandable">
					<a sage:attrib="href:url(internationalization)">Internationalization</a>
					<ul>
						<li>
							<a sage:attrib="href:url(internationalization-phrases)">Phrase substitution</a>
						</li>
						<li>
							<a sage:attrib="href:url(internationalization-variables)">Variable substitution</a>
						</li>
						<li>
							<a sage:attrib="href:url(internationalization-conditionals)">Conditional rendering</a>
						</li>
						<li>
							<a sage:attrib="href:url(internationalization-fallback)">Locale resolution</a>
						</li>
					</ul>
				</li>
				<li class="expandable">
					<a sage:attrib="href:url(xml-flow)">Document transform flow</a>
					<ul>
						<li>
							<a sage:attrib="href:url(xml-flow-localize)">1: Localize</a>
						</li>
						<li>
							<a sage:attrib="href:url(xml-flow-copy-tree)">2: Copy XML tree</a>
						</li>
						<li>
							<a sage:attrib="href:url(xml-flow-expand-modules)">3: Expand modules</a>
						</li>
						<li>
							<a sage:attrib="href:url(xml-flow-xslt-transform)">4: XSLT transform</a>
						</li>
						<li>
							<a sage:attrib="href:url(xml-flow-return)">5: Return result</a>
						</li>
					</ul>
				</li>
				<li class="expandable">
					<a sage:attrib="href:url(resources-processing)">Resource processing</a>
					<ul>
						<li>
							<a sage:attrib="href:url(resources-processing-kelp)">Merging with Kelp</a>
						</li>
						<li>
							<a sage:attrib="href:url(resources-processing-compression)">Compression options</a>
						</li>
						<li>
							<a sage:attrib="href:url(resources-processing-imaging)">Image processing</a>
						</li>
					</ul>
				</li>
				<li>
					<a sage:attrib="href:url(linking)">Linking</a>
				</li>
				<li class="expandable">
					<a sage:attrib="href:url(extensibility)">Extensibility</a>
					<ul>
						<li>
							<a sage:attrib="href:url(extensibility-modules)">Module</a>
						</li>
						<li>
							<a sage:attrib="href:url(extensibility-extensions)">Extension</a>
						</li>
						<li>
							<a sage:attrib="href:url(extensibility-handlers)">Node and text handlers</a>
						</li>
						<li>
							<a sage:attrib="href:url(extensibility-view-xml-filters)">View XML filters</a>
						</li>
						<li>
							<a sage:attrib="href:url(extensibility-resource-providers)">Resource providers</a>
						</li>
						<li>
							<a sage:attrib="href:url(extensibility-url-resolvers)">URL resolvers</a>
						</li>
						<li>
							<a sage:attrib="href:url(extensibility-xslt-extensions)">XSLT extension objects</a>
						</li>
					</ul>
				</li>
				<li class="expandable">
					<a sage:attrib="href:url(configuration)">Configuration</a>
					<ul>
						<li>
							<h5>Project.config</h5>
						</li>
						<li>
							<a sage:attrib="href:url(configuration-project)">Project</a>
						</li>
						<li>
							<h5>Web.config</h5>
						</li>
						<li>
							<a sage:attrib="href:url(configuration-rewriters)">Rewriters</a>
						</li>
						<li>
							<a sage:attrib="href:url(configuration-handlers)">Handlers</a>
						</li>
						<li>
							<a sage:attrib="href:url(configuration-compression)">Compression</a>
						</li>
					</ul>
				</li>
				<li class="separator"></li>
				<li>
					<a sage:attrib="href:url(sage-libraries)">Libraries used</a>
				</li>
			</ul>
		</div>

		<div id="welcome">
			<div class="valign">
				<div class="vcell">
					<div class="button gradient">
						<div class="valign">
							<div class="vcell">
								<span>Welcome to</span>
								<h1>Sage</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="examples">
			<mod:ViewInspector/>
		</div>

	</body>
</html>
