@import url(gradients.css);

body
	{ background: #fff; color: #4f4f4f; font-size: 14px; font-family: Century Gothic, Verdana, Sans-Serif; }
a,
a code,
a:visited
	{ color: #0046b0; text-decoration: none;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
a:hover
	{ color: #ff9900; text-decoration: underline;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
a:hover code
	{ color: #336600; }

br.spacer
	{ margin-bottom: 60px; }

html.dashboard
	{ height: 100%; }
html.dashboard body
	{ height: 100%; background: url(../images/beta.png) no-repeat #DEDEDE top left; margin: 0; padding: 0; }

hr
	{ border: 1px solid #bbb; border-width: 1px 0 0 0; }
hr.separator
	{ margin: 20px 0; }

blockquote
	{ margin-left: 30px; margin-right: 10px; }
blockquote.marked
	{ margin-left: 20px; padding-left: 10px; border-left: 1px solid #eee;
	  background: url(../images/line.png) no-repeat left bottom; padding-bottom: 10px; }
blockquote ul
	{ padding-left: 0; }
blockquote ul li
	{ padding-left: 0; background: none; }
blockquote.casual
	{ border-left: 1px solid #b6b6b6; }
blockquote.accent
	{ padding-left: 5px; border-left: 4px solid #b6b6b6; }

em, i
	{ color: #3D4595; background: #f7f7f7; }

h1
	{ color: #54596F; font-size: 200%; font-weight: normal; margin-bottom: 40px; text-shadow: 1px 1px 3px #666; }
h1 + .breadcrumb
	{ margin: -40px 0 40px 0; }
h2
	{ color: #82879f; font-size: 150%; font-weight: normal; margin-bottom: 10px; text-shadow: 1px 1px 3px #919191; }
h3
	{ clear: both; color: #95a2b0; border-bottom: 1px solid #b1bac5; font-size: 130%; font-weight: normal; }
h5
	 { font-size: 120%; font-weight: normal; color: #666; overflow: hidden; }
h6
	{ font-size: 85%; font-weight: bold; margin: 0; overflow: hidden; color: #3E3E3E; }

h2.section
	{ clear: both; font-weight: normal; text-align: right; font-style: italic; color: #0080c0;
	  border-bottom: 1px solid #0080c0; margin: 60px 10px 20px 0; padding-right: 10px; }
h3.section
	{ margin: 30px 0 5px 0; }
h4.section
	{ clear: both; color: #5c6b7c; border-bottom: 1px solid #b1bac5; font-size: 110%; font-weight: normal;
	  margin: 30px 0 5px 0; }
h5.section
	{ font-size: 90%; font-weight: normal; color: #003333; margin-bottom: 5px; text-decoration: underline; overflow: hidden; }


h5.caption
	{ font-size: 100%; font-weight: normal; border-bottom: 1px solid #ddd; margin: 40px 0 5px 0; overflow: hidden; }
h6.caption
	{ font-size: 100%; font-weight: normal; border-bottom: 1px solid #ddd; margin: 20px 0 5px 0; overflow: hidden; }

h5.remarks
	{ font-size: 90%; font-weight: bold; color: #000; margin-bottom: 5px; text-decoration: underline; overflow: hidden; }

h5.casual
	{ font-size: 90%; font-weight: bold; margin: 0; overflow: hidden; color: #24477b; }
h6.casual
	{ font-size: 85%; font-weight: bold; margin: 0; overflow: hidden; color: #467bb7; }

h5.tiny
	{ font-size: 85%; font-weight: bold; margin: 10px 0; overflow: hidden; color: #000; }
h6.tiny
	{ font-size: 80%; font-weight: bold; margin: 10px 0; overflow: hidden; color: #6e6e6e; }

h6.invisible
	{ margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; color: #000; }
h6.discrete
	{ margin: 0; padding: 0; border: 0; font-size: 110%; font-weight: normal; font-style: italic; color: #300; }

label
	{ font-weight: bold; }
label.casual
	{ color: #888; }

p
	{ margin-top: 0; margin-bottom: 15px; }
p.small
	{ font-size: 80%; }
li > h5
	{ margin: 0 0 5px 0; }

div.container
	{ overflow: hidden; }
dfn
	{ font-size: 120%; font-style: normal; display: block; margin-bottom: 20px; }
code, pre
	{ color: #000; font-size: 95%; font-family: Consolas, Courier; }

code.example,
pre.example
	{ display: block; margin: 10px 0 10px  40px; }
code.important
	{ display: inline-block; padding: 2px; background: #efefef; border: 1px solid #ccc; }
code.principal
	{ display: inline-block; margin: 5px 0; padding: 5px 10px; background: #efefef; border: 1px solid #E6E6E6;
	  border-radius: 3px; }
dl
	{}
dt
	{ margin-left: 20px; color: #000; font-family: Consolas, Courier New; font-size: 90%; }
dd
	{ margin-left: 40px; margin-bottom: 5px; }

dl dl
	{ margin-top: 10px; font-size: 85%; }
dl dl dd
	{ margin-bottom: 10px; }

dt.zip
	{ background: url(../images/page-file.gif) no-repeat 0 2px; padding-left: 20px; }

dl.reference > dt
	{ padding: 5px 10px 2px 10px; background: #d9dcdf; border-radius: 5px 5px 0 0; margin-left: 0; }
dl.reference > dd
	{ padding: 0 10px 10px 10px; background: #e9ebed; border-radius: 0 0 5px 5px; margin-left: 0; }

ul, ol
	{ overflow: hidden; padding-left: 20px; }
ul > li
	{	list-style-type: none; margin: 0; }
ul.clear li
	{ background-image: none; padding-left: 0; }
ul.separate > li,
ol.separate > li
	{ margin-bottom: 20px; padding-bottom: 10px; }
ul.separate.casual > li,
ol.separate.casual > li
	{ margin-bottom: 10px; padding-bottom: 0; }
ul.underlined > li,
ol.underlined > li
	{ border-bottom: 1px solid #ccc; }
ul.separatesmall > li,
ol.separatesmall > li
	{ margin-bottom: 10px; }

ul.bulleted > li
	{	list-style-type: none; margin: 0; background: url(../images/bullet.png) no-repeat 0 7px; }

ul li.category-name
	{ color: #ccc; font-size: 85%; border-bottom: 1px solid #eee; margin: 5px 0 5px 0; }

ul.notes
	{ padding-left: 0; }
ul.notes > li
	{ background: url(../images/sagebullet.png) no-repeat 0 1px; padding-left: 20px; margin-bottom: 1px; }



ul.root
	{ padding-left: 0; }
ul.root li
	{ background: none; padding-left: 0; }

ul.discrete
	{ padding-left: 0; }
ul.casual
	{ padding-left: 20px; }
ul.casual li
	{ background: none; padding-left: 0; }
ul.examples li
	{ font-style: italic; font-size: 90%; background: url(../images/example.png) no-repeat 0 2px; padding-left: 20px; }

ul.reference > li,
ol.reference > li
	{ padding-top: 20px; padding: 20px; background: #ededed; border-radius: 5px; margin-bottom: 20px; }

ul.reference .others,
ol.reference .others
	{ font-size: 85%; font-weight: bold; font-style: italic; }

ul.reference.examples > li,
ol.reference.examples > li
	{ background: #ddddd0; }

ul.reference.attributes > li,
ol.reference.attributes > li
	{ background: #d1dcd3; }

table thead td,
table thead th
	{ font-weight: bold; font-size: 85%; color: #555; }
table th
	{ text-align: left; }
table caption
	{ text-align: left; font-size: 85%; border-bottom: 1px solid #ccc; }
table.indent
	{ margin-bottom: 40px; }
table.definition
	{ background: #fff; table-layout: fixed; border-collapse: collapse; }
table.definition th,
table.definition td
	{ border: 1px solid #ccc; vertical-align: top; }
table.definition td
	{ padding: 2px 1px; }
table.definition thead th
	{ background: #ccc; padding: 5px 2px 0 1px; }
table.definition tbody th
	{ text-align: right; padding-left: 20px; padding-right: 5px; color: #000; font-weight: normal; vertical-align: top; }
table.definition tbody th.right
	{ text-align: right; }

.section
	{ margin-top: 30px; }
.sectionblock
	{ padding: 15px; background: #ededed; border-radius: 5px; margin: 20px 0; }
.sectionblock.first
	{ margin-top: 0; }
.sectionblock h5
	{ margin-left: 0 !important; }
.sectionblock p
	{ margin-bottom: 0; }
.sectionblock p + *
	{ margin-top: 15px; }

/**
 * generic
 */
.block
	{ display: block; }
.left
	{ float: left; }
.right
	{ float: right; }
.clear
	{ clear: both; }
.small
	{ font-size: 85%; }
.center
	{ text-align: center; }
.indent
	{ margin-left: 16px; }
.indent2
	{ margin-left: 32px; }
.valign
	{ width: 100%; height: 100%; display: table; }
.vcell
	{ width: 100%; height: 100%; display: table-cell; vertical-align: middle; }
.nowrap
	{ white-space: nowrap; }
.marginframe
	{ margin: 20px 0; }
.error
	{ color: red; font-weight: bold; }
.todo
	{ color: #c00; font-size: 120%; display: block; border: 1px solid #c00; border-width: 1px 0; background: #ffdddd;
	  padding: 3px 0; text-decoration: underline; }

/**
 * imageframe
 */
.imageframe
	{ position: relative; float: left; margin: 0 40px 15px 0; }
.imageframe .caption
	{ clear: left; padding: 3px 10px; text-align: left; background: #4d5266; color: #fff; font-size: 80%;
	  border-bottom: 1px solid #000; margin: 3px 0; font-family: Consolas; }
.imageframe img
	{ float: left; }
.imageframe.right
	{ float: right; margin: 0 0 15px 40px; }
.imageframe .copyright
	{ clear: left; position: relative; font-size: 70%; padding: 1px 3px 3px 3px; }
.imageframe .copyright label
	{ font-weight: bold; }

/**
 * Process flow
 */
.process-flow
	{ position: relative; min-height: 90px; margin-bottom: 40px; white-space: nowrap; display: table; }
.process-flow .change
	{ display: inline-block; width: 150px; min-height: 90px; background: url(../images/arrow1.png) no-repeat center; }
.process-flow .state.from
	{ display: inline-block; min-height: 90px; display: table-cell; vertical-align: top; }
.process-flow .state.to
	{ display: inline-block; min-height: 90px; display: table-cell; vertical-align: top; }

/**
 * line
 */
.line
	{ overflow: hidden; min-height: 18px; }
.line label
	{ float: left; width: 145px; }
.line .value
	{ float: left; }

/**
 * Home page
 */
#welcome
	{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; text-align: center; }
#welcome .circle
	{ width: 370px; height: 370px; text-align: center; display: inline-block; border: 0; border-radius: 210px; }
#welcome .circle:hover
	{ cursor: default; }
#welcome .circle span
	{ position: relative; top: 10px; color: #ADADAD; }
#welcome .circle h1
	{ font-size: 60px; font-weight: normal; margin: 0; color: #e6e6e6; text-shadow: 1px 1px 3px #887676; }
#welcome .buttons
	{ position: relative; background: #ccc; margin-top: 50px; padding: 10px 0; }
#welcome .buttons a
	{ display: inline-block; font-size: 18px; background: #B7B7B7; border-radius: 3px; padding: 5px 10px; color: #4D4D4D;
	  margin: 0 5px; text-shadow: none; text-decoration: none; }
#welcome .buttons a:hover
	{ background: #fff; color: #323232; }

#examples
	{ position: absolute; top: 0; left: 260px; right: 0; bottom: 0; text-align: center; display: none; }

/**
 * Properties
 */
ul.properties
	{}
ul.properties > li
	{ padding-left: 16px; margin-bottom: 16px; }
ul.properties > li h5
	{ margin-left: -16px; }
ul.properties > li dfn
	{ font-size: 100%; }
ul.properties > li code.example
	{ margin: 0; }

/**
 * View inspector adjustments for the dashboard.
 */
html.dashboard .view-inspector
	{ background: #fff; border: 0; }
html.dashboard .view-inspector .contentcontainer
	{ z-index: 0; }
html.dashboard .view-inspector .contenttoolbar
	{ background: #ddd; border-bottom: 0; padding: 3px 4px 5px 4px; z-index: 1; }
html.dashboard .view-inspector .contenttoolbar .contenttitle
	{ color: #666; }
html.dashboard .view-inspector .viewtoolbar
	{ background: #E5E5E5; height: 22px; border: 0; }
html.dashboard .view-inspector .contenttitle
	{ font-size: 14px; font-weight: normal; }
html.dashboard .view-inspector .contentframe
	{ top: 24px; bottom: 0px; background: #fff; z-index: 0; }
html.dashboard .view-inspector .view-inspector .textbutton
	{ padding: 3px 7px 5px; margin: 2px 5px 0 5px; }
html.dashboard .view-inspector.horizontal .toolframe,
html.dashboard .view-inspector.horizontal .toolpreloader
	{ top: 24px; z-index: 0; }
html.dashboard .view-inspector.horizontal .toolpreloader
	{ background-color: }
html.dashboard .view-inspector .button.close,
html.dashboard .view-inspector .button.info
	{ display: block; }
html.dashboard .view-inspector.horizontal.single .contentcontainer
	{ bottom: 24px !important; }
html.dashboard .view-inspector.horizontal.single .toolscontainer
	{ height: 24px !important; }
html.dashboard .toolbar .textbutton.xml,
html.dashboard .toolbar .textbutton.json
	{ display: none; }

/**
 * Shadows
 */
html.dashboard .view-inspector .toolscontainer {
	box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

html.dashboard .view-inspector .viewtoolbar {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

html.dashboard .view-inspector .contenttoolbar {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
	z-index: 1;
}

#welcome .circle {
	box-shadow: 0 0 27px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0 0 27px rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.80);
}

/**
 * Syntaxbox
 */
.syntaxbox
	{ margin-bottom: 20px; }

/**
 * Xmltree
 */
.xmltree + *
	{ margin-top: 20px; }

/**
 * moreinfo section
 */
section.moreinfo
	{ margin-bottom: 20px; }
section.moreinfo.collapsed
	{ display: inline; background: none; margin: 0; padding: 0; border: 0; }
section.moreinfo > header
	{ display: block; overflow: hidden; border-bottom: 1px solid #ccc; margin-bottom: 5px; }
section.moreinfo > header span
	{ color: #0046b0; text-decoration: underline; }
section.moreinfo.collapsed > header
	{ display: inline; border-bottom: none; }
section.moreinfo > details
	{ display: block; }
section.moreinfo > header span.collapse
	{ float: right; }

/**
 * page section
 */
div.page
	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; }
div.page > section.sidebar
	{ position: absolute; top: 0; left: 0; bottom: 0; width: 200px; overflow: auto; }
div.page > section.content
	{ position: absolute; top: 0; left: 230px; bottom: 0; right: 0; overflow: hidden; }
div.page > section.content > header
	{ position: fixed; left: 230px; top: 0; right: 0; }
div.page > section.content > details
	{ position: absolute; top: 70px; left: 0; right: 0; bottom: 0; overflow: auto; }

/**
 * content section
 */
section.content > header
	{ background-color: #e8e8e8; height: 50px; overflow: hidden; padding: 15px 15px 0 15px; border-bottom: 5px solid #ccc; }
section.content > header span
	{ display: block; padding-bottom: 7px;
	  color: #444; font-size: 200%; font-weight: normal; text-shadow: 1px 1px 2px #999; }
section.content > details
	{ display: block; padding: 15px; }
section.content > details > summary
	{ display: block; font-size: 105%; margin-bottom: 15px; }
section.content > details > summary dfn
	{ padding: 15px; background: #ededed; border-radius: 5px; margin: 0 0 20px 0; }


/**
 * title section
 */
section.title > header
	{ font-size: 120%; font-style: normal;
	  padding: 15px; background: #ededed; border-radius: 5px; margin: 0 0 20px 0; }
section.title > details
	{ display: block; padding-left: 16px; }

/**
 * topic section
 */
section.topic
	{	margin-bottom: 50px; }
section.topic > header
	{ margin: 0 0 15px 0; color: #95a2b0; border-bottom: 1px solid #b1bac5;
	  font-size: 130%; font-weight: normal; }
section.topic > details
	{ display: block; }
section.topic > details > summary
	{ font-size: 105%; display: block; margin: 0 0 20px 0; background: #fff; }


section.howitworks
	{	margin-bottom: 30px; }
section.howitworks > header
	{ text-align: right; font-style: italic; color: #0080c0; font-size: 150%; font-weight: normal;
	  border-bottom: 1px solid #0080c0; margin: 60px 10px 20px 0; padding-right: 10px;
		text-shadow: 1px 1px 3px #919191; }


/**
 * property section
 */
section.property
	{ overflow: hidden; }
section.property > header
	{ float: left; text-align: right; padding-right: 5px; width: 120px; }
section.property > details
	{ padding-left: 130px; }

/**
 * namespace section
 */
section.namespace > header
	{ font-size: 85%; font-weight: bold; color: #aaa; text-transform: lowercase; }
section.namespace > details
	{ display: block; background: #EBEBE2; padding: 10px 5px; margin: 2px 0 40px 0;
	  font-family: Consolas, courier new; color: #7B7B74; border: 1px solid #C5C5C3; border-radius: 3px; }

/**
 * namespaceref section
 */
section.namespaceref
	{ margin-left: 20px; }
section.namespaceref > header
	{ font-size: 90%;
    font-weight: bold; }

/**
 * element section
 */
section.element > header
	{ padding: 15px; background: #ededed; border-radius: 5px; margin: 20px 0;
	  font-size: 100%; font-weight: bold; margin: 0; overflow: hidden; color: #24477b; }
section.element > header h5
	{ font-size: 90%; font-weight: bold; margin: 0; overflow: hidden; color: #24477b; }
section.element > details
	{ display: block; margin-left: 20px; padding-left: 10px; border-left: 1px solid #eee;
	  background: url(../images/line.png) no-repeat left bottom; }
section.element > details .sectionblock p
	{ margin-bottom: 0; }
section.element > details p + *
	{ margin-top: 15px; }
section.element > details > summary
	{ display: block; margin: 5px 0 5px -17px; padding-bottom: 12px; background: #fff; }
section.element ul.properties
	{ padding: 0; }

section.element + section.element
	{ margin-top: 20px; }

/**
 * properties section
 */
section.properties
	{ padding-bottom: 20px; }
section.properties > header
	{ font-size: 85%; font-weight: bold; margin-bottom: 10px;  overflow: hidden; color: #6e6e6e; }
section.properties > details
	{ display: block; padding-left: 20px; }
section.properties > details > summary
	{ display: block; margin-bottom: 10px; }

/**
 * attributes section
 */
section.attributes > details
	{ display: block; padding-left: 15px; }

/**
 * attributes section
 */
section.attributegroup
	{ margin-bottom: 20px;}
section.attributegroup > header
	{ border-bottom: 1px solid #eee; color: #ccc; font-size: 85%; margin: 5px 0; }

/**
 * attribute section
 */
section.attribute > header
	{ font-size: 85%; font-weight: bold; margin: 0;  overflow: hidden; color: #467bb7; }
section.attribute > details
	{ display: block; padding-left: 15px; }

/**
 * example section
 */
section.properties.example > details > summary
	{ border-bottom: 1px solid #ddd; color: #aaa; display: inline-block; font-size: 85%; margin-bottom: 10px;
    padding-bottom: 3px; }

/**
 * children section
 */
section.properties.children
	{ padding-bottom: 0; }

/**
 * flow section
 */
section.flow,
section.flow > header,
section.flow > details
	{ display: block; }
section.flow.vertical
	{ background: url(../images/arrow-down.png) no-repeat left bottom; }
section.flow.vertical > details
	{ background: url(../images/arrow-down.png) no-repeat right bottom; padding: 0 60px; }

/**
 * internationalization pages
 */
img.internationalization-title
	{ float: none; display: block; margin-bottom: 20px; }
img.internationalization-detail
	{ float: right; margin: 0 0 20px 20px; }
