<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.cycle99.com/projects/sage/configuration/project">

	<extension
		name="DevTools"
		resourcesPregenerated="false"
		defaultLocale="en"
		mergeResources="false">

		<routing>
			<route path="dev/log/{threadID}" name="Dev.Log" namespace="Sage.DevTools.Controllers" controller="Dev" action="Log"/>
			<route path="dev/inspect" name="Dev.Inspect" namespace="Sage.DevTools.Controllers" controller="Dev" action="Inspect"/>
			<route path="dev/routes" name="Dev.Routes" namespace="Sage.DevTools.Controllers" controller="RouteDebugger" action="Index"/>
		</routing>

		<globalization>
			<locale name="en" dictionaryNames="en" resourceNames="en,default">
				<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
		</globalization>

		<libraries>
			<library name="aeon">
				<resources>
					<resource type="script" location="head" path="{assetpath}/lib/scripts/aeon/aeon.js"/>
				</resources>
			</library>
			<library name="aeon.tooltip">
				<dependencies>
					<library ref="aeon"/>
				</dependencies>
				<resources>
					<resource type="script" location="body" path="{assetpath}/lib/scripts/aeon/aeon/controls/tooltip/tooltip.js"/>
					<resource type="style" location="body" path="{assetpath}/lib/scripts/aeon/aeon/controls/tooltip/tooltip.css"/>
				</resources>
			</library>
		</libraries>

		<modules>

			<module name="DeveloperToolbar" type="Sage.DevTools.Modules.DeveloperToolbarModule,Sage.DevTools" auto="body">
				<stylesheets>
					<stylesheet path="DeveloperToolbar.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<library ref="aeon.tooltip"/>
					<resource type="script" location="body" path="DeveloperToolbar.js"/>
					<resource type="style" location="head" path="DeveloperToolbar.css"/>
				</resources>
			</module>

			<module name="LogViewer" type="Sage.DevTools.Modules.LogViewerModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="LogViewer.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<resource type="style" location="head" path="LogViewer.css"/>
					<resource type="script" location="body" path="LogViewer.js"/>
				</resources>
			</module>

			<module name="ViewInspector" type="Sage.DevTools.Modules.ViewInspectorModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="ViewInspector.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<resource type="script" location="body" path="ViewInspector.js"/>
					<resource type="style" location="head" path="ViewInspector.css"/>
				</resources>
			</module>

			<module name="SyntaxHighlighter" type="Sage.DevTools.Modules.SyntaxHighlighterModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="SyntaxHighlighter.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<library ref="aeon.tooltip"/>
					<resource type="script" location="body" path="SyntaxHighlighter.js"/>
					<resource type="style" location="head" path="SyntaxHighlighter.css"/>
				</resources>
			</module>

			<module name="XmlTree" type="Sage.DevTools.Modules.XmlTreeModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="XmlTree.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<resource type="script" location="body" path="XmlTree.js"/>
					<resource type="style" location="head" path="XmlTree.css"/>
				</resources>
			</module>

		</modules>

		<package>
			<binaries>
				<include>~/bin/Sage.DevTools.dll</include>
			</binaries>
			<assets>
				<include>~/assets/lib</include>
				<include>~/assets/views/dev</include>
			</assets>
			<libraries>
				<include>*</include>
			</libraries>
			<modules>
				<include>*</include>
			</modules>
			<routes>
				<include>*</include>
			</routes>
		</package>

	</extension>

</configuration>
