<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.cycle99.com/projects/sage/configuration/project">

	<project
		name="DevTools"
		resourcesPregenerated="false"
		defaultLocale="en"
		mergeResources="false">
		
		<deliverables>
			<binary>bin/Sage.DevTools.dll</binary>
		</deliverables>
		
		<routing>
			<route path="dev/log" name="LogView.ViewLog" namespace="Sage.DevTools.Controllers" 
						 controller="LogView" action="ViewLog"/>
			<route path="dev/log/{threadID}" name="LogView.ViewThread" namespace="Sage.DevTools.Controllers" 
						 controller="LogView" action="ViewThread"/>
			<route path="dev/routes" name="RouteDebugger.Index" namespace="Sage.DevTools.Controllers" 
						 controller="RouteDebugger" action="Index"/>
		</routing>

		<globalization>
			<locale name="en" dictionaryNames="en" resourceNames="default">
				<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
		</globalization>
		
		<scripts>
			<library name="aeon" path="{assetpath}/scripts/lib/aeon.js"/>
		</scripts>
		
		<modules>
			
			<module name="ViewInspector" type="Sage.DevTools.Modules.ViewInspectorModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="ViewInspector.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<script location="body" path="ViewInspector.js"/>
					<style location="head" path="ViewInspector.css"/>
				</resources>
			</module>
			
		</modules>

	</project>

</configuration>
