<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.cycle99.com/projects/sage/configuration/project">

	<extension
		name="DevTools"
		resourcesPregenerated="false"
		defaultLocale="en"
		mergeResources="false">
		
		<package>
			<binaries>
				<include>~/bin/Sage.DevTools.dll</include>
			</binaries>
			<assets>
				<include>~/assets/css/*</include>
				<include>~/assets/modules/*</include>
				<include>~/assets/scripts/*</include>
				<include>~/assets/scripts/*</include>
				<include>~/assets/views/logview/*</include>
			</assets>
			<libraries>
				<include>*</include>
			</libraries>
			<modules>
				<include>*</include>
			</modules>
			<routes>
				<include>*</include>
			</routes>
		</package>
		
		<routing>
			<route path="dev/log" name="Dev.ViewLog" namespace="Sage.DevTools.Controllers" 
						 controller="LogView" action="ViewLog"/>
			<route path="dev/log/{threadID}" name="Dev.ViewLogThread" namespace="Sage.DevTools.Controllers" 
						 controller="LogView" action="ViewThread"/>
			<route path="dev/routes" name="Dev.RouteDebugger" namespace="Sage.DevTools.Controllers" 
						 controller="RouteDebugger" action="Index"/>
		</routing>

		<globalization>
			<locale name="en" dictionaryNames="en" resourceNames="default">
				<format culture="en-us" shortDate="MMMM d, yyyy" longDate="D"/>
			</locale>
		</globalization>
		
		<scripts>
			<library name="aeon" path="{assetpath}/scripts/lib/aeon.js"/>
		</scripts>
		
		<modules>
			
			<module name="ViewInspector" type="Sage.DevTools.Modules.ViewInspectorModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="ViewInspector.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<script location="body" path="ViewInspector.js"/>
					<style location="head" path="ViewInspector.css"/>
				</resources>
			</module>
			
			<module name="SyntaxHighlighter" type="Sage.DevTools.Modules.Source.SyntaxHighlighterModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="SyntaxHighlighter.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<script location="body" path="SyntaxHighlighter.js"/>
					<style location="head" path="SyntaxHighlighter.css"/>
				</resources>
			</module>

			<module name="XmlTree" type="Sage.DevTools.Modules.Source.XmlTreeModule,Sage.DevTools">
				<stylesheets>
					<stylesheet path="XmlTree.xsl"/>
				</stylesheets>
				<resources>
					<library ref="aeon"/>
					<script location="body" path="XmlTree.js"/>
					<style location="head" path="XmlTree.css"/>
				</resources>
			</module>
			
		</modules>

	</extension>

</configuration>
