<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="$projectname$">

	<package>
		<binaries>
			<include>~/bin/$safeprojectname$.dll</include>
			<include>~/bin/$safeprojectname$.pdb</include>
		</binaries>
		<libraries>
			<include>*</include>
		</libraries>
		<modules>
			<include>*</include>
		</modules>
		<routes>
			<include>*</include>
		</routes>
	</package>

</project>
