<div id="footer" xmlns="http://www.w3.org/1999/xhtml">
	<div class="background"></div>
	<div class="content">
		<div class="legal">
			<ul>
				<li>
					<a href="terms.html">Terms &amp; Conditions</a>
				</li>
				<li>
					<a href="privacy.html">Privacy</a>
				</li>
				<li>
					<a href="legal.html">Legal</a>
				</li>
				<li>
					<a href="faq.html">Frequently asked questions</a>
				</li>
			</ul>
		</div>
		<div class="contact">
			<h6>Contact:</h6>
			<ul>
				<li>
					<a href="sales.html">Sales</a>
				</li>
				<li>
					<a href="support.html">Support</a>
				</li>
				<li>
					<a href="management.html">Management</a>
				</li>
			</ul>
		</div>
	</div>
</div>
