<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/projects/sage"
	xmlns:mod="http://www.cycle99.com/projects/sage/modules"
 	xmlns:xi="http://www.w3.org/2003/XInclude"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Using X-Includes: Including a fragment</title>
	</head>

	<body>
		<h2 class="section">Including a fragment</h2>
		<p>
			To include a
		</p>
		<xml:Tree>
			<mod:config>
				<mod:source>fragment.html</mod:source>
			</mod:config>
		</xml:Tree>
	</body>

</html>
