<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/projects/sage"
	xmlns:mod="http://www.cycle99.com/projects/sage/modules"
 	xmlns:xi="http://www.w3.org/2003/XInclude"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Using X-Includes: Including a document</title>
	</head>

	<body>

		<h1>Including a complete document</h1>

		<hr/>
		<p>
			To include a complete document, specify it's path at the value of the <code>xi:include</code> element's
			<code>href</code> attribute:
		</p>

		<blockquote>
			<mod:XmlTree>
				<mod:data>
					<sage:literal>
						<html
							xmlns:sage="http://www.cycle99.com/projects/sage"
							xmlns:mod="http://www.cycle99.com/projects/sage/modules"
							xmlns:xi="http://www.w3.org/2003/XInclude"
							xmlns="http://www.w3.org/1999/xhtml">

							<head>
								<title>Using X-Includes: Including a document</title>
							</head>

							<body>
								This footer content has been included from another document:
								<xi:include href="footer.html"/>
							</body>

						</html>
					</sage:literal>
				</mod:data>
			</mod:XmlTree>
		</blockquote>

		<hr/>

		<p>
			After including the <code>footer.html</code>, the document now looks like this:
		</p>

		<blockquote>
			<mod:XmlTree>
				<mod:data>
					<html
						xmlns:sage="http://www.cycle99.com/projects/sage"
						xmlns:mod="http://www.cycle99.com/projects/sage/modules"
						xmlns:xi="http://www.w3.org/2003/XInclude"
						xmlns="http://www.w3.org/1999/xhtml">

						<head>
							<title>Using X-Includes: Including a document</title>
						</head>

						<body>
							This footer content has been included from another document:
							<xi:include href="footer.html"/>
						</body>

					</html>
				</mod:data>
			</mod:XmlTree>
		</blockquote>

		<hr/>

	</body>

</html>
