<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="Sage.ClientSide">

	<libraries>
		<library name="atom">
			<resources>
				<resource type="javascript" location="head" path="{assetpath}/lib/jquery.min.js"/>
				<resource type="javascript" location="head" path="{assetpath}/lib/atom.min.js"/>
				<resource type="javascript" location="head" path="{assetpath}/lib/linq.min.js"/>
			</resources>
		</library>
		<library name="atom.dev">
			<resources>
				<resource type="javascript" location="head" path="{assetpath}/lib/jquery.js"/>
				<resource type="javascript" location="head" path="{assetpath}/lib/atom.js"/>
				<resource type="javascript" location="head" path="{assetpath}/lib/linq.js"/>
			</resources>
		</library>
		<library name="atom.controls">
			<resources>
				<resource type="javascript" location="head" path="{assetpath}/lib/atom.controls.min.js"/>
				<resource type="css" location="head" path="{assetpath}/lib/atom.controls.min.css"/>
			</resources>
		</library>
		<library name="atom.controls.dev">
			<resources>
				<resource type="javascript" location="head" path="{assetpath}/lib/atom.controls.js"/>
				<resource type="css" location="head" path="{assetpath}/lib/atom.controls.css"/>
			</resources>
		</library>
		<library name="local">
			<resources>
				<resource type="css" location="head" path="{assetpath}/css/ubuntu.css"/>
				<resource type="css" location="head" path="{assetpath}/css/clientside.css"/>
			</resources>
		</library>
	</libraries>

	<package>
		<assets>
			<include>~/assets/lib/*</include>
			<exclude>*.git</exclude>
			<exclude>*.gitignore</exclude>
		</assets>
		<libraries>
			<include>atom</include>
			<include>atom.dev</include>
			<include>atom.controls</include>
			<include>atom.controls.dev</include>
		</libraries>
	</package>

</project>
