<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="Sage.ClientSide">

	<libraries>
		<library name="atom">
			<resources>
				<resource type="script" location="head" path="{assetpath}/lib/jquery-2.0.3.min.js"/>
				<resource type="script" location="head" path="{assetpath}/lib/atom.js"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
		<library name="atom.controls">
			<resources>
				<resource type="script" location="head" path="{assetpath}/lib/atom.controls.min.js"/>
				<resource type="style" location="head" path="{assetpath}/lib/atom.controls.min.css"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
		<library name="local">
			<resources>
				<resource type="style" location="head" path="{assetpath}/css/ubuntu.css"/>
				<resource type="style" location="head" path="{assetpath}/css/clientside.css"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
	</libraries>

	<package>
		<binaries>
			<include>~/bin/Sage.ClientSide.dll</include>
			<include>~/bin/Sage.ClientSide.pdb</include>
		</binaries>
		<assets>
			<include>~/assets/lib/*</include>
			<exclude>*.git</exclude>
			<exclude>*.gitignore</exclude>
		</assets>
		<libraries>
			<include>atom</include>
			<include>atom.controls</include>
		</libraries>
	</package>

</project>
