<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="Sage.ClientSide">

	<libraries>
		<library name="aeon">
			<resources>
				<resource type="script" location="head" path="{assetpath}/lib/aeon/aeon.js"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
		<library name="local">
			<resources>
				<resource type="style" location="head" path="{assetpath}/css/ubuntu.css"/>
				<resource type="style" location="head" path="{assetpath}/css/clientside.css"/>
			</resources>
			<include>
				<always/>
			</include>
		</library>
		<library name="qunit">
			<resources>
				<resource type="script" location="head" path="{assetpath}/lib/qunit/qunit-1.11.0.js"/>
				<resource type="style" location="head" path="{assetpath}/lib/qunit/qunit-1.11.0.css"/>
			</resources>
			<include>
				<path>test/*</path>
			</include>
		</library>
	</libraries>

	<package>
		<binaries>
			<include>~/bin/Sage.ClientSide.dll</include>
			<include>~/bin/Sage.ClientSide.pdb</include>
		</binaries>
		<assets>
			<include>~/assets/lib/*</include>
		</assets>
		<libraries>
			<include>aeon</include>
		</libraries>
	</package>

</project>
