<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="resourceHandling" type="Kelp.ResourceHandling.ConfigurationHandler,Kelp"/>
	</configSections>

	<system.web>
		<customErrors mode="Off"/>

		<compilation debug="true" targetFramework="4.0"/>
		<httpHandlers>
			<add verb="*" path="*.css" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
			<add verb="*" path="*.js" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
		</httpHandlers>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="LocalizePathRewriter"/>
			<remove name="MetaExtensionRewriter"/>
			<add name="LocalizePathRewriter" type="Sage.Rewriters.LocalizePathRewriter,Sage"/>
			<add name="MetaExtensionRewriter" type="Sage.Rewriters.MetaExtensionRewriter,Sage"/>
		</modules>
		<handlers>
			<remove name="ScriptHandler"/>
			<remove name="StyleHandler"/>
			<remove name="JpegHandler"/>
			<remove name="PngHandler"/>
			<remove name="GifHandler"/>
			<remove name="XmlHandler"/>
			<add name="ScriptHandler" preCondition="integratedMode" verb="*" path="*.js" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
			<add name="StyleHandler" preCondition="integratedMode" verb="*" path="*.css" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
			<add name="JpegHandler" preCondition="integratedMode" verb="*" path="*.jpg" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
			<add name="PngHandler" preCondition="integratedMode" verb="*" path="*.png" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
			<add name="GifHandler" preCondition="integratedMode" verb="*" path="*.gif" type="Kelp.ResourceHandling.ResourceHandler,Kelp"/>
			<add name="XmlHandler" preCondition="integratedMode" verb="*" path="*.xml" type="Sage.ResourceManagement.ResourceHandler,Sage"/>
		</handlers>

		<httpErrors errorMode="Detailed"/>
	</system.webServer>

	<resourceHandling tempDir="~/tmp/cache">
		<script Enabled="false" />
		<css Enabled="false"/>
	</resourceHandling>

</configuration>