<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="Sage.ClientSide">

	<libraries>
		<library name="aeon">
			<resources>
				<resource type="script" location="head" path="{assetpath}/scripts/lib/aeon/aeon.js"/>
			</resources>
		</library>
		<library name="aeon.tooltip">
			<dependencies>
				<library ref="aeon"/>
			</dependencies>
			<resources>
				<resource type="script" location="body" path="{assetpath}/scripts/lib/aeon/aeon/controls/tooltip/tooltip.js"/>
				<resource type="style" location="body" path="{assetpath}/scripts/lib/aeon/aeon/controls/tooltip/tooltip.css"/>
			</resources>
		</library>
	</libraries>
	
	<package>
		<binaries>
			<include>~/bin/Sage.ClientSide.dll</include>
			<include>~/bin/Sage.ClientSide.pdb</include>
		</binaries>
		<assets>
			<include>~/assets/scripts/*</include>
		</assets>
		<libraries>
			<include>*</include>
		</libraries>
		<modules>
			<include>*</include>
		</modules>
		<routes>
			<include>*</include>
		</routes>
	</package>

</project>
