<?xml version="1.0" encoding="utf-8" ?>
<project xmlns="http://www.cycle99.com/schemas/sage/configuration/project.xsd"
	name="Sage.ClientSide"
	autoInternationalize="true"
	defaultLocale="en">

	<package>
		<binaries>
			<include>~/bin/Sage.ClientSide.dll</include>
			<include>~/bin/Sage.ClientSide.pdb</include>
		</binaries>
		<libraries>
			<include>*</include>
		</libraries>
		<modules>
			<include>*</include>
		</modules>
		<routes>
			<include>*</include>
		</routes>
	</package>

</project>
