<!DOCTYPE html>
<html
	xmlns:xi="http://www.w3.org/2003/XInclude"
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Sage developer tools</title>
		<link type="text/css" rel="stylesheet" href="{assetpath}/css/devtools.css"/>
	</head>
	<body>
		<h1>Sage developer tools</h1>
		<ul class="navigation home">
			<xi:include href="sageres://views/shared/elements.html"
			            xpointer="xmlns(x=http://www.w3.org/1999/xhtml) xpointer(//x:ul[@class]) "/>
		</ul>
	</body>
</html>
