<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Url utility tests</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<div id="home_perspective">
					<hgroup class="title">
						<h1><a href="~/">Sage.ClientSide</a></h1>
					</hgroup>
					<div id="qunit"></div>
					<div id="qunit-fixture"></div>
					<script>

						var result;

						test("TODO", function runTest()
						{
							ok(false, "This is a stub, unit tests still have to be written!");
						});

					</script>
				</div>
			</div>
		</div>
	</body>
</html>
