#hover-transition {
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.view-inspector
	{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #fff; border-left: 1px solid #999;
	  font-size: 12px; font-family: Century Gothic, Verdana, Helvetica, sans-serif; }
.view-inspector .contentcontainer
	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; }
.view-inspector .toolscontainer
	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; }
.view-inspector .contenttitle
	{ float: left; padding: 1px 7px; font-size: 11px; font-weight: bold; color: #404040; }

.view-inspector .viewtoolbar
	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding: 1px; background-color: #ddd; border: 1px solid #999; }
.view-inspector .toolframe
	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #fff; z-index: 1; }
.view-inspector .toolpreloader
	{ position: absolute; z-index: 2; top: 0; left: 0; right: 0; bottom: 0; opacity: .6;
	  background: url(images/preloader2.gif) #ccc no-repeat center; display: none; }
.view-inspector .viewtoolbar .button
	{ margin: 4px; }
.view-inspector .contenttoolbar
	{ position: absolute; z-index: 0; top: 0; left: -1px; right: 0; height: 16px;
	  background-color: #bcbcbc; border-bottom: 1px solid #999; padding: 4px; }
.view-inspector .contentframe
	{ position: absolute; z-index: 1; top: 25px; left: 0; right: 0; bottom: 0; }
.view-inspector .contentpreloader
	{ position: absolute; z-index: 2; top: 0; left: 0; right: 0; bottom: 0; opacity: .6;
	  background: url(images/preloader1.gif) #fff no-repeat center; display: none; }
.view-inspector .contenttoolbar .button
	{ margin-left: 4px; cursor: pointer; }

.view-inspector.vertical .contentcontainer
	{ right: auto; width: 50%; height: auto !important; }
.view-inspector.vertical .toolscontainer
	{ left: auto; width: 50%; height: auto !important; }
.view-inspector.vertical .viewtoolbar
	{ right: auto; width: 24px; border-width: 0 1px; }
.view-inspector.vertical .toolframe
	{ left: 28px; }
.view-inspector.vertical .toolpreloader
	{ left: 28px; }

.view-inspector.horizontal .contentcontainer
	{ bottom: auto; height: 50%; width: auto !important; }
.view-inspector.horizontal .toolscontainer
	{ top: auto; height: 50%; width: auto !important; }
.view-inspector.horizontal .viewtoolbar
	{ bottom: auto; left: -1px; height: 24px; border-width: 1px 0; }
.view-inspector.horizontal .toolframe
	{ top: 28px; }
.view-inspector.horizontal .toolpreloader
	{ top: 28px; }

.view-inspector.horizontal.single .contentcontainer
	{ height: auto !important; bottom: 27px; }
.view-inspector.horizontal.single .toolscontainer
	{ height: 27px !important; }

.view-inspector.vertical.single .contentcontainer
	{ width: auto !important; right: 27px; }
.view-inspector.vertical.single .toolscontainer
	{ width: 27px !important; }

.view-inspector .toolbar
	{ float: right; overflow: hidden; }
.view-inspector .toolbar.left
	{ float: left; }

.view-inspector .textbutton
	{ float: left; height: 16px; padding: 3px 7px; margin: 1px 5px; }
.view-inspector .textbutton:hover
	{ text-decoration: underline; cursor: pointer; }
.view-inspector .textbutton.active
	{ background-color: #fff; }
.view-inspector .textbutton.disabled
	{ opacity: .4; filter: alpha(opacity=40); }
.view-inspector .textbutton.disabled:hover
	{ background-color: #ddd; border-color: #999; }

.view-inspector .button
	{ float: left; width: 12px; height: 12px; padding: 2px; background-color: transparent; background-position: center;
	  background-repeat: no-repeat; -moz-transition: background .2s ease-in-out; cursor: pointer; }
.view-inspector .button:hover
	{ background-color: #fff; -moz-transition: background .2s ease-in-out; }

.view-inspector .button.reload
	{ background-image: url(images/refresh.png); }
.view-inspector .button.close
	{ background-image: url(images/close.png); display: none; }
.view-inspector .button.info
	{ background-image: url(images/info.png); display: none; }
.view-inspector .button.toggle
	{ background-image: url(images/restore.png); }
.view-inspector .button.toggle.active
	{ background-image: url(images/minimize.png); }
