*
	{ font-family: Lucida Sans Unicode, Verdana, Helvetica, sans-serif; font-size: 12px; }

a, a:visited
	{ color: blue; }
h1,
h1 *
	{ font-size: 16px; border-bottom: 2px solid #ccc; color: #555; font-variant: small-caps; padding: 5px; margin-bottom: 30px; }

ul
	{ list-style-type: none; margin: 0; padding: 0; }
ul ul
	{ margin: 0 0 0 20px; }
ul h5,
ul h6
	{ margin: 0; }
form
	{ margin: 0; }

blockquote.error
	{ margin: 20px 0; padding: 10px; background: #FFC4C4; border: 2px solid #CC0000; color: #CC0000;
	  font-style: italic; font-size: 14px;  }

#container
	{ width: 600px; white-space: nowrap; }

.setting
	{ overflow: hidden; margin-bottom: 2px; }
.setting label
	{ float: left; padding-top: 2px; width: 145px; text-align: right; padding-right: 5px; color: #999; }
.setting .value
	{ margin-left: 150px; }
.setting .value input,
.setting .value textarea
	{ width: 95%; }
.setting .placeholder.default
	{ color: #888; font-style: italic; }

form div.submit
	{ clear: both; margin-top: 10px; border-top: 2px solid #e0e0e0; padding-top: 10px;}
form.settings div.submit
	{ margin-left: 150px; margin-right: 10px; }


fieldset
	{ display: block; border: 1px solid #ccc; margin-bottom: 20px; padding-top: 10px; }
fieldset legend
	{	border: 1px solid #ccc; padding: 2px 5px; background: #eee; }

.clear
	{ clear: both; }

.selectcontrol
	{ float: right; position: relative; width: 200px; height: 20px; border: 1px solid #ccc; cursor: default; }

.selectcontrol .selected
	{ display: block; line-height: 20px; padding-right: 20px; margin: 0 2px; overflow: hidden;
	  background: url(images/dropdown.gif) no-repeat right 2px; }
.selectcontrol ul.options
	{ border: 1px solid #ccc; background: #fff; position: absolute; left: -1px; top: 22px; width: 100%; margin: 0;
	  padding: 0; list-style-type: none; display: none; max-height: 150px; overflow: auto; }
.selectcontrol ul.options li
	{ padding: 2px; }
.selectcontrol ul.options li a
	{ display: block; }
.selectcontrol ul.options li:hover
	{ background-color: #fc0; }

.togglesection
	{ }
.togglesection > .header
	{ padding: 2px 2px 2px 30px; background: url(images/expand.png) no-repeat 10px 4px #E0E0E0; cursor: pointer; border-bottom: 1px solid #C5C5C5; }
.togglesection > .header:hover
	{ background-color: #f0f0f0; }
.togglesection > .content
	{ display: none; padding-left: 27px; background: #f3f3f3; }
.togglesection.expanded > .header
	{ background-image: url(images/expanded.png); background-color: #EAEFCF; }
.togglesection.expanded > .header:hover
	{ background-color: #f0f0f0; }
.togglesection.expanded > .content
	{ display: block; }

table.settings th,
table.settings td
	{ padding-right: 10px; }
table.settings th
	{ text-align: left; font-variant: small-caps; letter-spacing: 1px; }
table.settings td.locale
	{  text-align: right; }
table.settings .inherited td.value,
table.settings .inherited td.source
	{ color: #666; }
table.settings .inherited td.source
	{ font-style: italic; }

table.phrases
	{  }
table.phrases td.icon
	{ width: 14px; }
table.phrases td.ok
	{ background: url(images/true.png) no-repeat center; }
table.phrases td.missing
	{ background: url(images/false.png) no-repeat center; }

#resources_files .locale
	{ display: none; }

.clear
	{ clear: both; }
.left
	{ float: left; }
.right
	{ float: right; }
.half
	{ width: 45%; }

#saveXmlOptions
	{}
#saveXmlOptions fieldset.options
	{ float: left; width: 70%; margin-right: 5px; }
#saveXmlOptions fieldset.files
	{ float: left; width: 25%; }

.intl-summary h1
	{ margin-bottom: 2px; }
.intl-summary h2
	{ background: #eee; padding: 5px; }
.intl-summary address
	{ text-align: right; padding-right: 10px; }

#resources_phrases
	{ float: left; width: 50%; margin-right: 5px; }
#resources_files
	{ float: left; width: 49%; }
#resources_files h6
	{ margin: 25px 0 10px 0; border-bottom: 1px solid #ccc; }
#resources_files ul.files
	{ margin-bottom: 5px; padding-left: 10px; }
#resources_files ul.files li
	{ padding-left: 18px; background: url(images/log.png) no-repeat left top; }
