<!DOCTYPE html>
<html
	xmlns:sage="http://www.cycle99.com/schemas/sage/sage.xsd"
	xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Sage.ClientSide</title>
		<sage:basehref/>
		<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" href="assets/css/clientside.css"/>
		<script src="assets/scripts/lib/aeon.2/aeon.js"></script>
		<script>

			window.onload = function ()
			{
//				var requests = [
//					"assets/images/image1.jpg",
//					"assets/images/image2.jpg",
//					"assets/images/image3.jpg"
//				];
//
//				var loader = new aeon.RequestLoader();
//				loader.addRequest("assets/images/image1.jpg");
//				loader.addRequest("assets/images/image2.jpg");
//				loader.addRequest("assets/images/image3.jpg");
//
//				loader
//					.on("load", onLoad)
//					.on("error", onError);
//
//				loader.load();
			};

		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="container">
				<div id="home_perspective">
					<h1>Sage.ClientSide</h1>
				</div>
			</div>
		</div>
	</body>
</html>
